[2013-09-13 18:58] markiewb opened #1 "NPE when Format action is invoked but no java document has the focus"
[code]

[2013-09-13 18:59] markiewb opened #2 "Missing mnemonics in options dialog/project settings"

[2013-09-13 19:00] markiewb opened #3 "Missing XML syntax highlighting in options/project settings"

[2013-09-13 19:01] markiewb opened #4 "Option panel isn't found by searching for "eclipse""

[2013-09-13 19:02] markiewb opened #5 "Use standard border for options/project settings"

[2013-09-13 19:05] markiewb opened #6 "Looses XML file reference when restarting netbeans"
Only bug so far is that it seems to loose the XML file reference when you exit netbeans (it still shows up in the settings dialog, but it isn't applied).

[2013-09-13 19:06] markiewb opened #7 "Format selected part of document"
the selected part or the whole file (if nothing is selected).

[2013-09-13 19:07] markiewb opened #8 "Make formatting "on save" optional."

[2013-09-13 19:31] markiewb opened #9 "Simplify org.netbeans.eclipse.formatter.ReformatWithEclipseBeforeSaveTask.isJava()"
Using using NbEditorUtilities.getMimeType

See [1] http://bits.netbeans.org/dev/javadoc/org-netbeans-modules-editor/org/netbeans/modules/editor/NbEditorUtilities.html#getMimeType(javax.swing.text.Document)

[2013-09-13 19:39] #9 closed, assigned to nobody

[2013-09-13 20:05] markiewb opened #10 "Preview panel in options isn't aware to dark themes LAF"
It uses hard coded bg color

[2013-09-13 20:07] #10 closed, assigned to nobody

[2013-09-13 21:03] #3 closed, assigned to nobody

[2013-09-13 21:29] #1 closed, assigned to nobody

[2013-09-14 08:51] markiewb opened #11 "After saving the caret is always placed at the end of the file"

[2013-09-14 09:20] markiewb opened #12 "Support "Eclipse [built-in]" formatter"
unfortunately I did not manage to successfully register the "Eclipse [built-in]" formatter profile (used "Export All..." to export the profile from eclipse Kepler) in NetBeans (no NetBeans status bar information).

[2013-09-14 09:22] markiewb opened #13 "Add action "Format with Eclipse Formatter""
I would like to suggest to not format on save, but on action (keyboard/menu)

[2013-09-15 21:01] #5 closed, assigned to nobody

[2013-09-21 19:45] markiewb opened #14 "Compatibility to JDK6"
in project.properties change

[code]

to

[code]

[2013-09-21 19:53] markiewb opened #15 "Don't replace the format in the menu"
Don't replace the format in the menu. The new delegation action is only enabled for "text/java-x" and thus formatting other mimetypes like xml isn't possible anymore..

[2013-09-21 19:56] markiewb opened #16 "Choose a license, which is compatible to the embedded libs"
- Choose a OSS license for this plugin. Perhaps the same license as the embedded libs to prevent legal issues
- Fulfill the requirements for the license
  *\* headers
  *\* documentation

[2013-09-23 21:04] #14 closed, assigned to nobody

[2013-09-23 22:55] markiewb opened #17 "Handle GuardedBlocks properly"
See the impl in org.netbeans.modules.editor.impl.ReformatBeforeSaveTask

[2013-09-24 21:48] #11 closed, assigned to nobody

[2013-09-24 22:50] #13 closed, assigned to nobody

[2013-09-24 22:51] #15 closed, assigned to markiewb

[2013-09-24 22:54] markiewb opened #18 "Formatting with eclipse formatter introduces empty document in undo manager"

[2013-09-24 22:55] markiewb opened #19 "Formatting with eclipse formatter flickers the folding controls in the left gutter"
But it works for the standard NB formatter

[2013-09-25 19:06] markiewb opened #20 "Allow to import/export the options via options API"
This way a configuration could be shared within a team

[2013-09-25 19:13] markiewb opened #21 "Project specific options: Show link to global options"

[2013-09-25 19:20] markiewb opened #22 "Compile against NB 7.3"
Save action where introduced in 7.2, so make this plugin at least compatible to 7.2. Choose 7.3 because the 7.2 branch isn't maintained anymore by the NB team.

https://netbeans.org/bugzilla/show_bug.cgi?id=140719

[2013-09-25 19:53] #22 closed, assigned to markiewb

[2013-09-25 20:41] #16 closed, assigned to markiewb

[2013-09-25 20:49] #6 closed, assigned to nobody

[2013-09-26 19:18] #2 closed, assigned to nobody

[2013-09-26 19:19] #8 closed, assigned to nobody

[2013-09-26 20:41] markiewb opened #23 "Support configuration of target JDK level"
org.eclipse.jdt.core.compiler.codegen.targetPlatform=1.7
org.eclipse.jdt.core.compiler.compliance=1.7
org.eclipse.jdt.core.compiler.source=1.7

- currently it is hardcoded to 1.6

[2013-09-26 21:23] markiewb opened #24 "Linebreakpoints get lost when applying the formatting"

[2013-10-07 18:19] markiewb opened #25 "Configured formatter.xml isn't used"

[2013-10-07 18:36] #25 closed, assigned to markiewb

[2013-10-07 19:35] ghost opened #26 "Java Formatter lost when saving the file"
I downloaded your plug-in and tried out on NB 7.4 RC1 and NB 7.3.1
1. When I use shortcut key (Ctrl-Shift-F) it works
2. But when I save the java file, it looses all the formats.

Please provide me a solution.

[2013-10-08 07:18] #26 closed, assigned to nobody

[2013-10-09 06:39] #18 closed, assigned to markiewb

[2013-10-20 14:19] markiewb opened #27 "Provide a signed package for the PPUC"

[2013-10-20 16:36] #27 closed, assigned to markiewb

[2013-10-31 10:25] markiewb opened #28 "Sometimes the syntax highlighting gets lost after formatting"
Workaround: close and reopen the file

[2013-11-07 13:17] kipkosgeik opened #29 "Formatter fails to work with error: No profile in config file of kind: CodeFormatterProfile"
I am using Netbeans 7.3.1/JDK-1.6.u45/Linux Ubuntu 12.04LTS

The following stack trace is reported by Netbeans

[code]

[2013-11-07 17:55] markiewb opened #30 "Update to Eclipse formatter jars from Eclipse Kepler 4.3"
FYI:
The Intellij IDEA counterpart plugin uses 3.7.x dependencies too

https://github.com/krasa/EclipseCodeFormatter

[2013-11-07 18:37] #12 closed, assigned to nobody

[2013-11-07 18:39] markiewb opened #31 "First profile in file is always used - support selection of profile"
If there are multiple formatters in the configuration the first one is always used.

-> currently hardcoded, needs a selection in the UI

[2013-11-08 18:45] #29 closed, assigned to nobody

[2013-11-11 19:32] #31 closed, assigned to nobody

[2013-11-11 19:33] #30 closed, assigned to nobody

[2013-11-11 20:42] #21 closed, assigned to nobody

[2013-11-17 21:24] markiewb opened #32 "Remove dependencies to external XML libs"
To reduce the plugin download size use http://bits.netbeans.org/dev/javadoc/org-openide-util/org/openide/xml/XMLUtil.html instead

[2013-11-19 07:57] zarinfam opened #33 "Only works on "Format on save" mode !"
I use NetBeans 7.4 and Eclipse Code Formatter for Java 1.6, the plugin works only on  "Format on save" mode, when i uncheck "Format on save" it does not work.

[2013-11-20 14:06] markiewb opened #34 "NPE while saving options when no profile is set"
See https://netbeans.org/bugzilla/show_bug.cgi?id=238410

[code]

[code]

[2013-11-20 14:33] #33 closed, assigned to nobody

[2013-11-20 15:50] #34 closed, assigned to nobody

[2013-11-22 18:39] markiewb opened #35 "Add documentation/How to use"

[2013-12-02 17:10] marccollin opened #36 "Support formatting of Javascript files"
It it possible to enable this module in netbeans to be used on javascript  file?
Item menu is not enable for javascript file.

[2014-03-28 20:37] markiewb opened #37 "Replace the original format action"
* incl. fallback to original formatter for other filetypes
* remap shortcut to the default one

[2014-04-01 09:51] ghost opened #39 "Cannot choose profile using eclipse configuration file"
In Eclipse, I chose the "Export All" option in the formatting preferences. I Browse to this .xml file with Eclipse Formatter but the profile only shows a "--Choose profile--" option. OK and Apply options are greyed out.

[2014-04-01 10:05] #39 closed, assigned to nobody

[2014-04-01 21:00] #7 closed, assigned to nobody

[2014-04-22 12:40] marccollin opened #40 "Setting not used correctly."
I used elicpse formatter without problem.

Some value has been done on this file, so i reloaded file.

The old value for indentation was 8
<setting id="org.eclipse.jdt.core.formatter.indentation.size" value="8"/>

Now it's 4 but it continue to use 8.
I tried to close netbeans, but the old value continue to be used.

[2014-06-10 11:23] Sandra121289 opened #41 "NullPointerException when configuration file not found"
The following NullPointerException is thrown when the configuration file for the formatter is not found:

[code]

[2014-06-10 20:27] #40 closed, assigned to nobody

[2014-06-10 21:03] #41 closed, assigned to nobody

[2014-08-15 19:14] vra5107 opened #42 "Doesn't seem to format the curlys"
Don't know if I am missing something, I get a notification saying it formatted the code using the supplied profile. But when I try to format the java files, the curlys are not placed on the next line when the formatter is configured to place them on the next line. Attaching for the formatter for further debugging.

https://gist.github.com/vra5107/fe388be61b4d69114323

[2014-08-27 15:34] #42 closed, assigned to nobody

[2014-08-27 16:28] vra5107 opened #43 "Notifications show even when they are disabled."
The plugin shows notifications even when they are disabled in the options. Plugin formats on save even when the option to "Format on save" is disabled.

Here is a [video](https://www.youtube.com/watch?v=4CFeK71_c7c&feature=youtu.be) showing the same.

[2014-09-16 06:10] SainathNaga opened #44 "EclipseCodeFormatter is not working for maven project"
Hi,

I have imported the eclipserules for code formatting.Once importing and while appying the code formatting.Code is not changing according to the rules mentioned.
To check it I have taken the two samples java projects with maven and without maven then for normal javaproject it is working,but for maven java project it is not working.Please correct me if I have missed anywhere, and let me know If

[2014-09-26 17:49] markiewb opened #45 "Support formatting of PHP files"

[2014-09-26 17:49] markiewb opened #46 "Update to use eclipse formatter libs from eclipse 4.4"

[2014-09-29 16:22] #44 closed, assigned to nobody

[2014-10-03 18:09] markiewb opened #47 "Preserve Class/Method/Field breakpoints"

[2014-10-03 19:05] markiewb opened #48 "Support only 7.4+, JDK7+"

[2014-10-03 19:47] #48 closed, assigned to nobody

[2014-10-03 19:47] #46 closed, assigned to nobody

[2014-10-03 19:52] markiewb opened #49 "Add donation button"

[2014-10-03 20:06] markiewb opened #50 "Add link to Github"

[2014-10-08 17:58] #47 closed, assigned to nobody

[2014-10-08 17:58] #49 closed, assigned to nobody

[2014-10-08 17:58] #50 closed, assigned to nobody

[2014-10-08 19:02] markiewb opened #51 "Still deadlocks, when trying to get the FQN"

[2014-10-08 20:15] markiewb opened #52 "Cannot assign shortcut for "Format with Eclipse Formatter" action"

[2014-10-08 20:22] markiewb opened #53 "Do not remove linebreakpoint, if line is not included in selection"

[2014-10-08 20:31] #52 closed, assigned to nobody

[2014-10-08 20:32] #51 closed, assigned to nobody

[2014-10-11 07:58] #53 closed, assigned to nobody

[2014-10-11 08:04] markiewb opened #54 ""Preserve Breakpoints" checkbox in options does not change the dialog state to modified"

[2014-10-11 08:06] #54 closed, assigned to nobody

[2014-10-14 08:21] jvissers opened #55 ""URI is not hierarchical" error message on calling format (auto-save)"
java.lang.IllegalArgumentException: URI is not hierarchical
    at java.io.File.<init>(File.java:418)
    at org.openide.util.Utilities.toFile(Utilities.java:3156)
    at de.markiewb.netbeans.plugins.eclipse.formatter.EclipseFormatterUtilities$EclipseFormatterTask.getLineBreakpoints(EclipseFormatterUtilities.java:287)
    at de.markiewb.netbeans.plugins.eclipse.formatter.EclipseFormatterUtilities$

[2014-10-15 18:12] taudo opened #56 "Format on Save - Changed files remain modified after saving them in Java Editor"
If "Format on Save" is selected, saving an edited File in the Java Editor triggers the following:
1. File is saved.
2. File is in state "unmodified" (save buttons in toolbar are disabled).
3. File is formatted.
4. File is in state "modified" (save buttons in toolbar are enabled).

NetBeans 8.0.1 (64 Bit); JDK 1.7 64 Bit

![options](https://cloud.githubusercontent.com/assets/9255988/4650800/bc417f3

[2014-10-31 12:04] #55 closed, assigned to nobody

[2014-10-31 12:04] #56 closed, assigned to nobody

[2015-03-04 08:43] markiewb opened #57 "java.lang.IllegalArgumentException: bad position: 725 at javax.swing.text.JTextComponent.setCaretPosition"
https://netbeans.org/bugzilla/show_bug.cgi?id=248358

[code]

[2015-03-04 11:35] #4 closed

[2015-03-04 11:35] #57 closed

[2015-03-04 12:28] astrapi69 opened #58 " de.markiewb.netbeans.plugins.eclipse.formatter.EclipseFormatter$ProfileNotFoundException: profile not found in /home/astrapi69/git/jaulp.wicket/EclipseCodeFormat.xml"
made changes on a java file than without saving open another java file and this error is thrown
Note: i have auto save plugin installed

[2015-03-04 14:04] markiewb commented on #58
* Please provide your configuration-file!
* Which profile is configured? Provide a screenshot of your configuration.

Thank you

[2015-03-04 14:05] markiewb commented on #58
I guess you have not configured a profile.

[2015-03-04 17:01] astrapi69 commented on #58
U can find the config file on my jaulp.wicket project.
Screenshot i cant send cause im not at this pc.
Did u tried it out?

[2015-03-04 17:28] markiewb commented on #58
![2015-03-04_18h26_59](https://cloud.githubusercontent.com/assets/1857095/6489111/2ab808c0-c29c-11e4-8971-ba9ac558e501.png)
Formatting works for me. See screenshot.

[2015-03-06 17:18] astrapi69 commented on #58
ok did you made the whole process?
make changes on a java file without saving it(and not closing it) and open another java file.
Does this error occur on your system? if not you can close this issue.

[2015-03-08 13:34] markiewb commented on #58
@astrapi69 : I tried it again. No it does not happen. Can you reproduce it and provide the stacktrace (from the IDE log) and also a short screencast (perhaps I missed an important part for reproduction)

[2015-04-03 09:42] markiewb commented on #58
Close as incomplete

[2015-04-03 09:42] #58 closed

[2015-04-03 09:44] markiewb opened #59 "Seems not to work for source code with JDK lambdas"

[2015-04-03 09:45] markiewb commented on #59
Related to #23 ?

[2015-04-07 18:45] markiewb commented on #59
Won't fix! Found the cause: A formatter file for JDK7 does not work for JDK8 sources. So use a valid formatter file, which is configured for 1.8 source level

[2015-04-07 18:45] #59 closed

[2015-05-13 19:04] mrkk opened #60 "support for relative file location"
if i have code in trunk/service and formatting xml in trunk/doc/formatting/teamA.xml then service configuration should be able to leverage relative path for de-markiewb-netbeans-plugins-eclipse-formatter.eclipseFormatterLocation attribute

[2015-05-17 16:38] markiewb commented on #60
@mrkk : Please explain a workflow for this usecase. I cannot yet imaging how this may work.

Support of paths like ```${projectdir}/relative/path/to/xml.file``` ?

[2015-06-30 22:29] #43 closed

[2015-06-30 22:29] markiewb opened #61 "Support configuration via workspace mechanic configuration file"
Like https://github.com/krasa/EclipseCodeFormatter/issues/73

[2015-06-30 22:31] markiewb opened #62 "Format-On-Save: Keep current line in scrollfocus"

[2015-07-07 18:19] markiewb opened #63 "Use jars from Eclipse 4.5.1 (Mars.1)"

[2015-08-07 08:12] ericjanmalotaux opened #64 "else and catch on new line"
The eclipse formatter for netbeans does not place 'else' and 'catch' on a new line, when the eclipse formatting rules specify that.

Here are my eclipse formatting rules:

`<?xml version="1.0" encoding="UTF-8"?>
<profiles version="12">
    <profile kind="CodeFormatterProfile" name="Java Conventions [modified]" version="12">
        <setting id="org.eclipse.jdt.core.formatter.insert_space_after_ell

[2015-08-08 11:00] markiewb commented on #64
Does this configuration work in Eclipse JDT 4.5 as expected?
If yes, then try out https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases/tag/v1.9.0.0-SN which bundles the new formatter jars from 4.5.

The eclipse team changed a lot in the last release and regarding to https://github.com/krasa/EclipseCodeFormatter/ they even made configurations from pre 4.4 incompatible to 4.5.

[2015-08-24 19:42] markiewb commented on #64
Close as incomplete.

[2015-08-24 19:42] #64 closed

[2015-08-24 19:43] markiewb opened #65 "Code templates for @formatter:on/off"

[2015-08-24 19:44] markiewb commented on #65
FYI see the registration at

[code]

[2015-12-30 14:58] markiewb commented on #36
I will give a try to integrate the changes from @kissla5

[2015-12-30 15:22] markiewb opened #66 "Remove support of old NB versions"
Update to support only NB8+

[2015-12-30 15:47] markiewb commented on #66
Fixed in 1.9

[2015-12-30 15:47] #66 closed

[2015-12-30 15:47] markiewb commented on #63
Fixed in 1.9

[2015-12-30 15:47] #63 closed

[2015-12-30 18:35] markiewb commented on #65
![2015-12-30_19h07_40](https://cloud.githubusercontent.com/assets/1857095/12055324/63957236-af2c-11e5-8095-c1ee38727d49.png)

![2015-12-30_19h08_20](https://cloud.githubusercontent.com/assets/1857095/12055326/66a04320-af2c-11e5-8d8b-35e68c25df1d.png)

[2015-12-30 18:44] markiewb commented on #65
fixed in 1.9

[2015-12-30 18:44] #65 closed

[2016-01-03 19:25] markiewb commented on #35
I guess this is done. See https://github.com/markiewb/eclipsecodeformatter_for_netbeans/wiki
I will create better documentation as soon there is demand for it.

[2016-01-03 19:25] #35 closed

[2016-01-05 22:44] markiewb commented on #61
Fixed in snapshot 1.10

[2016-01-05 22:44] #61 closed

[2016-01-24 16:10] markiewb opened #67 "Support configuration via <projectdir>/.settings/org.eclipse.jdt.core.prefs"
Configuration example: [org.eclipse.jdt.core.prefs](https://github.com/markiewb/eclipsecodeformatter_for_netbeans/files/102418/org.eclipse.jdt.core.prefs.txt)

[2016-01-28 20:55] markiewb opened #68 "Reduce download size by repacking jars with pack200"
See https://docs.oracle.com/javase/7/docs/technotes/tools/share/pack200.html

* Remove all files from meta-inf and the content files in the root dir (this is important because the eclipse osgi bundles have checksums in the meta-inf files)
* and call `pack200 --repack -G -O -E9 --modification-time=latest -v org.eclipse.jdt.core_3.11.1.v20150902-1521.jar`
-> File is 30% smaller

[2016-01-28 21:28] markiewb commented on #68
1,63 MB vs 7,18 ~ 23%

[2016-01-28 21:43] markiewb opened #69 "Support url as "path to eclipse java formatter config file""
Good idea https://github.com/krasa/EclipseCodeFormatter/issues/69

[2016-01-29 00:08] markiewb commented on #67
![2016-01-29_00h50_58](https://cloud.githubusercontent.com/assets/1857095/12663024/cb071f5a-c624-11e5-9187-989b09958560.png)
![2016-01-29_01h02_36](https://cloud.githubusercontent.com/assets/1857095/12663026/cbdf776a-c624-11e5-9abf-aa13927ebe25.png)

[2016-01-29 00:11] markiewb commented on #67
Try out the draft https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases/download/v1.10.1-withprefs/de-markiewb-netbeans-plugins-eclipse-formatter.nbm and give me feedback!

[2016-01-29 00:12] krasa commented on #68
You removed those content and meta-inf files manually? or is there some tool?

[2016-01-29 00:19] markiewb commented on #68
It was only a proof-of-concept, so I did it manually.

[2016-02-01 20:28] markiewb opened #70 "OnSaveAction: Format only changed lines"
`org.netbeans.spi.editor.document.OnSaveTask.Context.getModificationsRootElement()`

[2016-02-07 20:13] markiewb opened #71 "Support configuration of linefeed"
Formatter engine allows to configure it

http://help.eclipse.org/juno/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2Fformatter%2FCodeFormatter.html&anchor=format(int,

[2016-02-12 16:14] jtulach commented on #67
Finally I got time to try this. Looks like your plugin is fighting with our command line tool - they disagree on the formatting. To reproduce:
[code]
The code modified by the IDE is reformatted again and this goes on and on.

[2016-02-12 20:09] markiewb commented on #67
@jtulach:
1. Can you please diff the files? What is the difference? Only linefeeds? If linefeeds, then I address this in #71
2. ```mx eclipseformat -e /path_to/eclipse``` -> Which Eclipse version is used? The plugin currently uses the formatter from "Eclipse 4.5.1 (Mars.1)"
3. ```mx eclipseformat -e /path_to/eclipse``` -> Can you point me to the sources, which show me, what this command does in de

[2016-02-13 06:11] jtulach commented on #67
The changes are mostly in formatting comments (that is the biggest pain we have with Eclipse formatter):

[code]

[2016-02-13 06:12] jtulach commented on #67
The (python) sources for mx are at https://github.com/graalvm/mx/
The Eclipse in ~/bin/eclipse is *Luna*.

[2016-02-13 14:08] markiewb opened #72 "Support formatting using Eclipse 4.4"
**Usecase:** A team uses Eclipse Luna and this plugin bundles Eclipse Mars. It is not guaranteed that it will format the same as before using the same configuration.

**Solution:**
Format using external eclipse installation
* optional feature/configuration
* the formatter jars are provided by a manually installed eclipse installation
* the plugin calls `eclipse -vm <path to virtual machine> -appli

[2016-02-13 14:18] markiewb commented on #67
Hej @jtulach: You are using Luna. So I guess the formatter engine has been changed between Mars and Luna. Can you please try out (only try for analyzing the problem) to use a Mars installation? And tell me if the formatting is now correct.

If so I could provide another option in the plugin to use the external Eclipse installation. I filed #72

BTW:
I guess it is not your fault/decision, but I am

[2016-02-13 14:19] krasa commented on #72
Externat format is absolute no go, if you do not create a daemon... Startup time of the eclipse process is too long.

You can use classloaders to switch between different jars in runtime, I do that in IntelliJ plugin. The only ugly thing is that you need to use a little bit of reflection, and separate classes to more modules.

[2016-02-13 14:33] markiewb commented on #72
@krasa: Thanks for the comment. I haven't tried it yet, so I was not aware the loading time.

Another approach is provide the engines via a plugin for the plugin.

Strategy Design pattern: Each engine is only a strategy. Strategies can be installed as separate plugins. The user can configure which strategy to choose. I don't have to use reflections because each engine plugin is loaded by its own c

[2016-02-13 14:34] markiewb commented on #20
Not important anymore. At least for me in my team

[2016-02-13 14:34] #20 closed

[2016-02-13 15:06] krasa commented on #72
I initially wanted to use IntelliJ plugins too, but then users would need to install the main plugin, restart, choose which engine plugin to install, restart...
I was trying to make it without that second restart so I introduced dependency to the main plugin on engine plugins, and end up with circular dependency and unsolvable problem that the strategy interface was loaded by the engine classloade

[2016-02-17 22:13] #67 closed

[2016-02-17 22:13] #68 closed

[2016-02-17 22:13] #70 closed

[2016-02-20 09:05] jtulach commented on #67
Yes, the project is IDE neutral. Every IDE user needs to invoke "mx ideinit".

[2016-02-20 09:06] jtulach commented on #67
Thanks for trying to support our workflow.

[2016-02-20 09:11] markiewb commented on #67
@jtulach: Have you tried https://github.com/markiewb/eclipsecodeformatter_for_netbeans/issues/67#issuecomment-183676149 ? Does Luna works for you? If yes, then I could try to bundle this engine in some other way - #72

[2016-02-20 10:24] jtulach commented on #67
Looks like Luna and Mars RC1 disagree on the formating. When I do:
[code]
The modified files differ mostly in comments:
[code]
I'll ask what is the team's policy with respect to most recent version of Eclipse.

[2016-02-20 12:33] markiewb commented on #67
@jtulach: Ok, good to know that the formatter engine is the culprit. In the worstcase you could patch the plugin yourself. Fork this plugin, replace all the wrapped jars with those from Luna (to https://github.com/markiewb/eclipsecodeformatter_for_netbeans/tree/master/release/modules/ext) and build it again.

[2016-02-20 15:20] markiewb commented on #71
Fixed in 1.10.2

[2016-02-20 15:20] #71 closed

[2016-02-22 14:48] jtulach commented on #67
FYI: https://github.com/graalvm/mx/issues/52

[2016-02-22 19:07] markiewb opened #73 "Selection in undocked windows is not respected, when called via keyboard"
* Undock an editor window
* Select a range in the undocked editor
* Call the Eclipseformatter action

ACTUAL: whole document is formatted
EXPECTED: selection is formatted

[2016-02-22 21:46] markiewb commented on #73
Hopefully fixed in 1.10.2

[2016-02-22 21:46] #73 closed

[2016-02-22 21:55] markiewb commented on #37
Now implemented: `de.markiewb.netbeans.plugins.eclipse.formatter.actions.FormatAction` delegates to standard NB formatter, when filetype is not `text/x-java`

[2016-02-22 21:55] #37 closed

[2016-02-22 22:34] markiewb commented on #24
http://bits.netbeans.org/dev/javadoc/org-openide-text/org/openide/text/Line.Set.html#getOriginalLineNumber-org.openide.text.Line-

[2016-02-29 19:08] markiewb commented on #62
Set the line and column instead the character position

[2016-02-29 21:40] markiewb commented on #23
fixed in 1.10.2

[2016-02-29 21:40] #23 closed

[2016-03-07 22:47] markiewb opened #74 "Minor UI issues in options dialog"
![unnamed 1](https://cloud.githubusercontent.com/assets/1857095/13586004/e9f2728a-e4be-11e5-8376-cccc5a699589.png)
![unnamed](https://cloud.githubusercontent.com/assets/1857095/13586005/ea09534c-e4be-11e5-9da8-7f4e42b1dedd.png)

[2016-03-10 19:34] markiewb opened #75 "Focus is lost after formatting a document in a floating window (sometimes)"
- Open a java file
- Open a xml file
- Undock the xml file, so that it is floating
- select lines to format in the xml file
- call the action for the eclipse formatter (via shortcut/mouse click/keyboard menu navigation)

ACTUAL:
xml gets formatted, focus is in the java file (the main editor window)
EXPECTED:
xml gets formatted, focus is in the xml file

It happens sometimes.

[2016-04-02 16:07] markiewb commented on #72
A version 2.10.2 with jars from 4.4. is available at https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases/tag/v1.10.2-v4.4

(different code base name and labels updated with postfix 4.4, so that this version can be installed next to 2.10.2 with 4.5)

[2016-04-02 16:07] #72 closed

[2016-04-19 21:03] dannywalk opened #76 "Spaces get converted to tabs"
The formatter plugin seems to convert spaces back into tabs, even when org.eclipse.jdt.core.formatter.use_tabs_only_for_leading_indentations is set to 'false'.

I did this:

1) Open java class in Eclipse and us it's formatter.  IN the eclipse config, the Tabs Policy in it's formatter settings is set to "Only Tabs".  When formatting a java file, all tabs are converted to spaces (4, as per the confi

[2016-04-20 20:08] markiewb opened #77 "java.lang.ClassNotFoundException: org.eclipse.core.runtime.RegistryFactory if using org.eclipse.jdt.core.javaFormatter in .settings/org.eclipse.jdt.core.pref"
[code]

Version: 1.10.2.0

[2016-04-20 20:09] markiewb commented on #77
[formattersampleeclipse_76.xml.txt](https://github.com/markiewb/eclipsecodeformatter_for_netbeans/files/228733/formattersampleeclipse_76.xml.txt)

[2016-04-20 20:19] markiewb commented on #77
This exception only occures if
* Use ".settings/org.eclipse.jdt.core.pref" option in the plugin settings is enabled AND
* the project folder contains a ".settings/org.eclipse.jdt.core.pref" file with "org.eclipse.jdt.core.javaFormatter=org.eclipse.jdt.core.defaultJavaFormatter"

[2016-04-20 20:20] markiewb commented on #77
Workaround:

1. Remove the org.eclipse.jdt.core.javaFormatter line OR
2. Uncheck  ".settings/org.eclipse.jdt.core.pref" option in the plugin settings

[2016-04-20 20:29] markiewb commented on #77
Possible solutions:
* provide the missing classes (missing a jar?)
   * https://github.com/gaborbsd/JDT_UI_SOC2015/blob/a5e681f12d05d5084847e15d381d7306b55663a0/org.eclipse.jdt.core/model/org/eclipse/jdt/core/JavaCore.java#L2295
   * https://github.com/iewrer/new_path_for_new_version/blob/d030b54196817fecbf49e1abac59cb5d23ef97fd/org.eclipse.jdt.core/org/eclipse/jdt/core/ToolFactory.java#L173
* don

[2016-04-20 20:53] markiewb commented on #76
There must be something wrong with your eclipse configuration. Your first steps contains the contradiction

```Tab Policy = Tabs``` sets the property
```org.eclipse.jdt.core.formatter.tabulation.char``` to ```tabs``` not ```org.eclipse.jdt.core.formatter.use_tabs_only_for_leading_indentations```

This plugin simply loads the configuration file, initializes the eclipse formatter engine using the co

[2016-04-27 20:53] markiewb commented on #76
No feedback. So closing as invalid.

[2016-04-27 20:53] #76 closed

[2016-04-27 20:57] markiewb opened #78 "Support formatting using Eclipse 4.5.2 Mars.2"
https://jaxenter.com/mars-2-released-124334.html

[2016-04-29 05:09] krasa commented on #68
I made a tool for that: https://github.com/krasa/EclipseCodeFormatter/blob/6db770e67c1a7564a3f726bc20d7e1ed84feb30a/test/java/krasa/RepackJars.java

and for getting jars from new eclipse:
https://github.com/krasa/EclipseCodeFormatter/blob/6db770e67c1a7564a3f726bc20d7e1ed84feb30a/EclipseAdapter45/src/krasa/formatter/adapter/UpdateLibs.java

[2016-05-01 19:25] markiewb commented on #68
@krasa: Cool. Thanks for your work. I will use it the next time I update the jars.

I saw the file size reduction in your plugin by 12MB, which is pretty neat!

[2016-05-02 02:33] krasa commented on #68
Yes, but I think the size could be reduced much more by removing some packages which are not needed... I will probably try it.

[2016-05-03 15:58] javatlacati commented on #68
Unused packages can be tracked easily  with QA tools or some maven plugins

[2016-05-03 20:34] krasa commented on #68
@javatlacati Thanks for the tip. http://maven.apache.org/plugins/maven-shade-plugin/ does a good job.

It reduced size from 22,7 MB to 16,5 MB.

[2016-05-06 09:09] markieww opened #79 "Cannot use version 4.4 parallel to 4.5"
https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases/tag/v1.10.2-v4.4c

[2016-05-06 09:10] markieww opened #80 "Cannot be converted to URI/File: URI is not hierarchical."
WARNING [de.markiewb.netbeans.plugins.eclipse.formatter.strategies.eclipse.EclipseFormatterRunnable]: jar:file:/C:/seu/maven/mvn_repository/org/springframework/spring-beans/3.2.8.RELEASE/spring-beans-3.2.8.RELEASE-sources.jar!/org/springframework/beans/TypeConverterDelegate.java cannot be converted to URI/File: URI is not hierarchical. Please report to https://github.com/markiewb/eclipsecodeformat

[2016-05-06 21:33] markiewb opened #81 "Convert to maven-based module"
Convert to maven based project for
- easier maintenance
- easier integration of maven-shade - like in https://github.com/krasa/EclipseCodeFormatter/commit/38c7ee6c1d09bbc2fef90714c47eca8ea42c7439

How to integrate the libraries: http://stackoverflow.com/questions/26732452/maven-addjars-maven-plugin-to-add-jars-to-classpath-for-an-java-project-build

[2016-05-06 22:06] #79 closed

[2016-05-13 22:15] markiewb commented on #74
fixed in 1.11.0

[2016-05-13 22:15] #74 closed

[2016-05-13 22:15] markiewb commented on #78
fixed in 1.11.0

[2016-05-13 22:15] #78 closed

[2016-05-13 22:15] markiewb commented on #80
fixed in 1.11.0

[2016-05-13 22:15] #80 closed

[2016-05-13 22:51] markiewb commented on #77
fixed in 1.11

[2016-05-13 22:51] #77 closed

[2016-06-05 07:57] phansson opened #82 "Eclipse lineSplit value doesn't affect vertical red line"
I use the [Maven project's code formatting](https://maven.apache.org/developers/maven-eclipse-codestyle.xml). It says to use a line length of 120 chars. This works nicely for the actual formatting. In the screenshot below I just reformatted the method and look how the Javadoc got expanded from line length of 80 chars to now 120 chars. As expected.

![2016-06-05 09_51_39-maven scm api - netbeans id

[2016-06-05 18:59] markiewb commented on #82
@phansson: Hej Peter, the line is the margin from the NB formatter. Set the margin to 0 to disable it.

![2016-06-05_20h57_16](https://cloud.githubusercontent.com/assets/1857095/15807505/2fc1d17e-2b60-11e6-824f-8ff8d288486e.png)

[2016-06-07 16:25] phansson commented on #82
The point is I do some projects where I use NB's own formatter and some where I use the plugin. SO I use project specific settings. Setting the right margin to zero on a global level - as you suggest - would cause havoc to all those projects where I use NB's own formatter. I don't want to get rid of the red line I just want it to reflect whatever Eclipse formatting settings I'm using.

In any case

[2016-06-07 21:36] markiewb commented on #82
I could set it from the config file. But the eclipse configuration file is only interpreted when invoking "format". That means the plugin could update the right margin setting after the formatting. Based on the previously used formatter file.

[2016-07-01 17:45] markiewb opened #83 "IllegalArgumentException at org.eclipse.jdt.internal.formatter.DefaultCodeFormatter.format when using OnSave"
https://netbeans.org/bugzilla/show_bug.cgi?id=262620

[code]

[2016-07-01 20:21] markiewb opened #84 "Support Eclipse 4.6 Neon"

[2016-07-01 21:40] krasa commented on #84
I thought that I will not have to do it, since I introduced a support for using an external eclipse installation...

And they fucked it all up by storing jars in C:\Users\user\.p2\
:-1:

[2016-07-07 01:08] john-veilleux commented on #83
Using Eclipse Java Code Formatter plugin version 1.11.0.0

[2016-07-07 14:06] markiewb commented on #83
Mhh. The culprit is
https://github.com/markiewb/eclipsecodeformatter_for_netbeans/blob/master/src/de/markiewb/netbeans/plugins/eclipse/formatter/strategies/eclipse/EclipseFormatter.java#L87

[2016-08-10 12:05] krasa commented on #84
I was doing it wrong, it can be disabled in the installer. It all works just fine...

[2016-09-12 11:44] cghislai opened #85 "Support org.eclipse.jst.ui.prefs"
This file contains additional save actions like:
sp_cleanup.make_local_variable_final=false
sp_cleanup.make_parameters_final=true
sp_cleanup.make_private_fields_final=true
sp_cleanup.make_type_abstract_if_missing_method=false

...

[2016-09-12 18:38] markiewb commented on #85
This plugin only bundles the eclipse formatter. Those save actions are not part of the eclipse formatter. Those actions are refactorings and the code for that is not included in the embedded eclipse formatter engine, which I bundled.

I will not work on this issue. But I will accept pull-requests!

[2016-09-12 18:40] markiewb commented on #83
I saw this exception too. But only, when the OnSave is enabled.

[2016-09-12 19:22] markiewb opened #86 "Allow action to be invoked via macro"
Using @EditorActionRegistration
http://wiki.netbeans.org/DevFaqAddMacroableAction

[2016-09-12 20:11] markiewb commented on #86
Macro names are
4.5: ```eclipse45-format```

[2016-09-12 20:17] markiewb opened #87 "Backport "Minor UI issues in options dialog" to 4.4-Branch"
https://github.com/markiewb/eclipsecodeformatter_for_netbeans/issues/74

[2016-09-12 20:23] markiewb opened #88 "Backport "Cannot be converted to URI/File: URI is not hierarchical." to 4.4-Branch"
#80

[2016-09-12 20:27] markiewb opened #89 "Backport "Allow action to be invoked via macro" to 4.4-Branch"
#86

[2016-09-12 20:40] #86 closed

[2016-09-12 20:40] #89 closed

[2016-09-12 20:40] #87 closed

[2016-09-12 20:40] #88 closed

[2016-11-18 09:14] Saljack opened #90 "Keyboard shortcut does not format non java files"
I have remapped keyboard shorcut <kbd>Alt</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd> to Format with Eclipse formatter 4.5. If I format with this shortcut java files everythings is ok. But this shorcuts does not work in other file types (XML, HTML, XHTML etc.). This shortcut does nothing in this file types. If I use menu Source > Format with Eclipse formatter 4.5 everything works.

[2016-11-18 23:22] markiewb commented on #90
Hopefully fixed in
* 4.4 Luna Branch - https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases/tag/v1.12.1.44
* 4.5 Mars Branch - https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases/tag/v1.12.1.45

@Saljack: Can you please verify that the issue is fixed!

[2016-11-18 23:23] #90 closed

[2016-11-19 09:45] Saljack commented on #90
Hi it is working now. Thank you for quick fix.

[2016-11-21 13:12] i1676505 opened #91 "@formatter:off/on ignored"
Installed latest plugin version. After click on Source -> Format with Eclipse formatter 4.5 the source code surrounded by tags was formatted, which is not expected, of course.

before>
// @formatter:off
somecode
    .aMethod
        .aMethod2
// @formatter:on

after>
// @formatter:off
somecode
    .aMethod
    .aMethod2
// @formatter:on

Product Version: NetBeans IDE 8.2 (Build 201609300101)
Java:

[2016-11-21 20:20] markiewb commented on #91
Please check that ```org.eclipse.jdt.core.formatter.use_on_off_tags``` is enabled your configuration file.

For more details see https://github.com/markiewb/eclipsecodeformatter_for_netbeans/wiki/Support-of-@formatter:off

[2016-11-21 20:20] #91 closed

[2016-11-22 08:33] i1676505 opened #92 "Surround with formatter on/off should not format the code part"
If you have a piece of code and want to surround it with formatter on-off tags:

1. Select the code
2. Press alt+enter and select menu item 'Surround with @formatter off Eclipse code formatter'

The code is surrounded by the tags, but also formatted, what is obviously not wanted here

[2016-12-13 22:14] #84 closed

[2017-03-16 03:53] caronchen opened #93 "java.lang.NoClassDefFoundError after another version of the plugin has been uninstalled"
**Product Version**: NetBeans IDE 8.2 (Build 201609300101)
**Updates**: NetBeans IDE is updated to version NetBeans 8.2 Patch 1
**Java**: 1.8.0_92; Java HotSpot(TM) 64-Bit Server VM 25.92-b14
**Runtime**: Java(TM) SE Runtime Environment 1.8.0_92-b14
**System**: Mac OS X version 10.12.3 running on x86_64; UTF-8; en_US (nb)

java.lang.NoClassDefFoundError: org/apache/commons/digester3/Digester
	at d

[2017-03-16 19:43] markiewb commented on #93
I cannot reproduce it.

Plugin-Version: 1.12.1.46

Product Version: NetBeans IDE 8.2 (Build 201609300101)
Updates: NetBeans IDE is updated to version NetBeans 8.2 Patch 1
Java: 1.8.0_121; Java HotSpot(TM) 64-Bit Server VM 25.121-b13
Runtime: Java(TM) SE Runtime Environment 1.8.0_121-b13
System: Windows 7 version 6.1 running on amd64; Cp1252; en_US (nb)

[2017-03-24 10:44] hylkevds commented on #93
I've got the same here.
Could it be that the settings xml format has changed with the new eclipse version? It happens when I select the XML file to use for formatting.

Right now I can not even open Tools->Options any more due to this exception...

[2017-03-24 12:22] markiewb commented on #93
Maybe. Which Eclipse version does the settings xml come from? Can you also
please provide the file.

Den 24 mars 2017 11:44 skrev "Hylke van der Schaaf" <
notifications@github.com>:

[2017-03-24 12:48] hylkevds commented on #93
The file says `<profiles version="12">`, I'm not sure exactly which version was used to generate it, but I think Luna or earlier.
Github doesn't like xml, so I've renamed the file to txt:
[ILT_Code_Formatter.txt](https://github.com/markiewb/eclipsecodeformatter_for_netbeans/files/867848/ILT_Code_Formatter.txt)

[2017-03-24 20:24] markiewb commented on #93
![2017-03-24_21h16_35](https://cloud.githubusercontent.com/assets/1857095/24312261/06aeff56-10d8-11e7-8616-bf63b45b92ec.png)

Sorry, I still cannot reproduce it. Even using your configuration file.
Please deinstall and install the plugin again. And give me feedback if this works.

[2017-03-25 18:59] hylkevds commented on #93
Hmm, on my home machine it also works just fine.
I'll try deleting netbeans' cache on monday, maybe that fixes it.

[2017-03-27 07:11] hylkevds commented on #93
Some new observations:
I made a backup of my profile, installed the Neon version and it worked
Then I de-installed the previous version, and then it was broken again.
Then I de-installed the Neon version, and re-installed it and it worked again.

So it seems that de-installing the previous version also removed some shared classes?

[2017-03-29 18:01] markiewb commented on #93
@hylkevds: Reproduced using your steps

[2017-03-29 18:55] markiewb commented on #93
@caronchen @hylkevds Fixed
SNAPSHOT-Builds named 1.12.2.4x can be grabbed from https://github.com/markiewb/eclipsecodeformatter_for_netbeans/releases

BUT I will not publish/nor release builds anymore at the plugin center. NB is not my target platform anymore. If you want to jump in, maintain the plugin(s) and publish signed releases you are welcome.

[2017-03-29 18:55] #93 closed

[2017-04-03 08:37] wumpz opened #94 "formatter on / off problem"
I don't get those formatter tags running (block or file format). I use version from eclipse 4.6.x. It does not recognize the non - format - codeblock. The configuration seems ok:

[code]

The code is like:
[code]

The dont matter if I use file format or code block format, the enclosing part is always formatted as well. E.g. the braces for if (listeners ... are added (like defined in the eclispe co

[2017-04-22 20:00] rdiez opened #95 "No project settings for Gradle project"
I am running NetBeans 8.2. I have installed the Gradle plug-in, in order to open an third-party Gradle project. When I open the Gradle project properties, I get the usual "Formatting" option on the left, but the eclipse formatter 4.6 does not appear below it. I guess I can enable the formatter globally, but I just wanted to use it for this particular project.

[2017-04-23 09:14] markiewb commented on #94
What is the log output?

[2017-04-23 09:16] markiewb commented on #95
I do not maintain the plugin anymore. Because I switched the IDE, but I am looking for volunteers to maintain the plugin.

Here a note for the potential implementor:
Add another registration to the layer.xml like it is done for `org-netbeans-modules-maven-project`

[2017-04-23 09:24] markiewb commented on #92
Nothing can be done from the plugin side. At least when using the current approach of code templates. The formatting is triggered by the global option
![2017-04-23_11h18_39](https://cloud.githubusercontent.com/assets/1857095/25312315/b11ccc52-2816-11e7-9408-529d9511de52.png)

A possible solution would be a special hint implementation.

[2017-04-23 10:29] wumpz commented on #94
Hmm. Have to look. I made a simple example to test with. The other at least braces settings worked. I will look into it again. 

-------- Ursprüngliche Nachricht --------
Von: markiewb <notifications@github.com>
Datum: 23.04.2017  11:14  (GMT+01:00)
An: markiewb/eclipsecodeformatter_for_netbeans <eclipsecodeformatter_for_netbeans@noreply.github.com>
Cc: Tobias <t.warneke@gmx.net>, Author <author@n

[2018-03-09 16:28] frojasg1 opened #96 "File save does not work for Format on save checked."
Hello,
    I am using Eclipse Formater 4.6 for Netbeans (for Eclipse Neon), and I am experiencing bad behaviour when checking Format on save.<br>
    The problem is that after one successful save, subsequent attempts to save are not being done, and even if you try to exit from the IDE, it warns that there are files not saved, and you have to discard the changes to be able to do one successful save

[2018-03-09 21:24] markiewb commented on #96
@frojasg1: Thanks for filing this issue. I don't support any of my NetBeans-plugin actively anymore. But I accept pull-request.

[2018-08-27 06:59] geertjanw opened #98 "Fails to install in Apache NetBeans (incubating) 9.0"
Here's the PR, would be great if you'd use it to create a new release, after trying it out:

https://github.com/markiewb/eclipsecodeformatter_for_netbeans/pull/97

[2019-12-10 15:07] #98 closed

[2019-12-10 15:11] funfried commented on #96
@frojasg1 Please try out the current development version (1.13.0-SNAPSHOT) as it should fix the problem. If not please file a new issue.

[2019-12-10 15:11] #96 closed

[2019-12-10 21:46] funfried commented on #81
Will be done in 1.13.0 release (see current master)

[2019-12-10 21:46] #81 closed

[2019-12-11 21:18] funfried commented on #69
I would suggest to use Dropbox, OneDrive or GoogleDrive or some other cloud storage service for this, but I see no reason to integrate this into the formatter plugin.

[2019-12-11 21:18] #69 closed

[2019-12-13 21:24] markiewb commented on #81
@funfried Vielen vielen Dank für die Übernahme des Projektes. Schön, dass es weitergeht. Grüße aus Leipzig, Benno

[2019-12-14 23:00] funfried commented on #81
@markiewb Sehr gerne, freu' mich dass ich es übernehmen konnte, benutz' das Plugin schon echt lange und hätte es schade gefunden wenn es nicht weiter geführt worden wäre. Grüße aus dem Schwabenländle zurück, Fabi

[2019-12-14 23:12] funfried commented on #95
Added in next milestone 1.13.0

[2019-12-14 23:12] #95 closed

[2019-12-16 08:45] funfried commented on #94
@wumpz I added a unit test to keep track on this issue, but it seems it's working right now, if you encounter problems again on this, please let me know by filing another ticket.

[2019-12-16 08:45] #94 closed

[2019-12-16 08:50] funfried commented on #92
I thought I might be able to delegate the original NetBeans format command to the format command of the plugin, but there is no way of overriding the NetBeans formatting code, so the only way of "fixing" this, is to set the "On Template Expansion" to "Do nothing".

[2019-12-19 22:08] funfried commented on #82
This feature has been implemented in the latest master and will be available within the next release (1.13.0): The vertical red line in the editor is now placed according to the line wrap of the configuration of your external formatter. It is also possible to set a flag to use other UI related properties of the external formatter configuration for indentation in the NetBeans editor and if you do y

[2019-12-19 22:08] #82 closed

[2019-12-20 19:31] funfried commented on #32
Got rid of additional XML libraries and using NetBeans internal classes (XMLUtil) now instead

[2019-12-20 19:31] #32 closed

[2019-12-22 10:40] funfried commented on #36
Unfortunately I cannot find a working org.eclipse.wst.jsdt.core library in any maven repository or anywhere else to download. Any help is appreciated to point me in the right direction or of course raising a PR.

[2019-12-22 10:41] funfried commented on #45
I wasn't able to find the necessary Eclipse libraries, please comment or raise a PR if someone knows where to find those.

[2019-12-22 10:43] funfried commented on #60
I'm also not really sure what's requested here, please file a new issue if this feature is still relevant for you @mrkk

[2019-12-22 10:43] #60 closed

[2019-12-22 10:48] funfried commented on #85
There is also an issue filed for this together with some further information in the formatter-maven-plugin: https://github.com/revelc/formatter-maven-plugin/issues/97#issuecomment-435024967

[2019-12-22 13:23] markiewb commented on #36
@funfried: Have a look at https://github.com/revelc/formatter-maven-plugin/tree/master/src/main/java/net/revelc/code/formatter/javascript which seems to integrate support for JS

[2019-12-23 23:34] funfried commented on #36
Thanks @markiewb! I‘ll definitely check that, looks really promising

[2020-01-07 22:00] funfried commented on #17
Implemented for Eclipse Formatter, but not possible for the Google Formatter at the moment as it seems: https://github.com/google/google-java-format/issues/433

[2020-01-07 22:00] #17 closed

[2020-01-07 22:01] funfried opened #100 "Implement formatting of guarded documents for Google Formatter"
This seems to be not possible at the moment due to this:
https://github.com/google/google-java-format/issues/433

[2020-01-21 22:27] funfried commented on #92
I managed to fix this, @i1676505 please try the latest version.

[2020-01-21 22:27] #92 closed

[2020-01-21 22:29] funfried commented on #62
I didn't see this bug and I'm using this plugin with the format on save option since a very long time, so I'll close this issue for now, if it happens again, I'll reopen it or create a new one.

[2020-01-21 22:29] #62 closed

[2020-01-21 22:29] #24 closed

[2020-01-21 22:30] funfried commented on #28
Never saw this happening, if it happens again for someone please open a new issue.

[2020-01-21 22:30] #28 closed

[2020-01-21 22:31] funfried commented on #19
Never saw this issue appear, so I'm gonna close it till it happens again, if someone else is facing an issue like this, please file a new issue

[2020-01-21 22:31] #19 closed

[2020-01-21 22:33] funfried commented on #83
I have the OnSave enabled for quite some time, but never saw this exception comming up, so I'm gonna close this issue until it appears again, if someone else is facing this, please create a new issue

[2020-01-21 22:33] #83 closed

[2020-01-27 09:44] funfried commented on #75
I tried to reproduce it in the current snapshot release and I wasn't able to, so I'm gonna close this issue for now and if it appears again I'll reopen the issue or create a new one

[2020-01-27 09:44] #75 closed

[2020-02-14 21:43] humphreygao opened #101 "Add support for Spring Java code formatter"
It would be nice if you provided support for [Spring Java Format](https://github.com/spring-io/spring-javaformat) .

[2020-02-17 11:11] funfried commented on #101
The [latest snapshot build for 1.14.0](https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.0-SNAPSHOT/) should include the Spring Java formatter. Unit tests are missing and maybe some details are not yet implemented, but you can already try it out. I'm happy to hear your feedback @humphreygao

[2020-02-17 20:43] funfried commented on #101
Everything should be done now, I'll leave the issue open for some days, so if you have any feedback for me don't hesitate to put it in the comments here, otherwise I'll close this issue.

[2020-02-18 01:23] humphreygao commented on #101
@funfried I tried it, and it works well. I really appreciate your help.

[2020-03-09 14:29] funfried commented on #101
You're welcome.

Closing issue and feature will be officially published soon within the next release.

[2020-03-09 14:29] #101 closed

[2020-03-10 22:23] funfried commented on #36
Implemented and will be published within the next release

[2020-03-10 22:23] #36 closed

[2020-03-10 22:24] funfried opened #104 "Support formatting of XML files"

[2020-03-10 22:25] funfried opened #105 "Support formatting of JSON files"

[2020-03-10 22:25] funfried opened #106 "Support formatting of CSS files"

[2020-03-10 22:25] funfried opened #107 "Support formatting of HTML files"

[2020-03-14 19:14] funfried commented on #104
XML formatter from revelc.net added

[2020-03-17 19:29] funfried commented on #105
Added FasterXML Jackson to enable formating of Json files

[2020-03-17 19:29] #105 closed

[2020-03-17 19:30] funfried commented on #104
Will also add Jsoup as an alternative XML formatter

[2020-03-20 14:34] m007 opened #111 "Imcompatibility with Netbeans 11(.3)"
I do have issues with using this plugin with Netbeans 11.3. Installing went fine and it even works as expected, but it seems other functionality of Netbeans is affected by the plugin installation: If the plugin is activated, sometimes while trying to go to the source of imported Java classes (by e.g. hitting `CTRL` + `ALT` + `B` on such a class) an error message pops up. I attached the full stackt

[2020-03-20 14:39] funfried commented on #111
Hmm, weird, I'm also using the plugin in NetBeans 11.3 and never had any issues like that, but thanks for filing the issue, I'll have a look at it as soon as possible.
Maybe one question: Are you using the latest stable release 1.13.0 of the plugin or did you install the 1.14.0-SNAPSHOT?

[2020-03-20 14:50] m007 commented on #111
I'm using the latest stable release, downloaded Version 1.13.0 from [here](https://netbeans-vm.apache.org/pluginportal/catalogue/?id=15).

[2020-03-24 05:46] funfried commented on #111
@m007 I think I fixed the issue by removing an unnecessary dependency which introduced a second JavacTool class indeed. Could you please try the latest snapshot version and verify? I wasn't able to reproduce the error in the first place, so it would be really helpful to get the fix approved by you.

[2020-03-24 09:27] m007 commented on #111
Hi again, I just downloaded [the Snapshot](https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.0-SNAPSHOT/) and am happy to confirm, that did the trick! TNX 1.0E6 (thanks a million :wink: ) :v:

[2020-03-24 10:07] funfried commented on #111
Awesome! Thanks for the fast response and again thank you for filing the issue.

[2020-03-24 10:07] #111 closed

[2020-03-24 22:35] #104 closed

[2020-04-03 10:09] nainwal-shobhit opened #113 "Netbeans 11.2 History option is not working properly"
After installing the plugin, the show history option is not working properly. On selecting any revision of a java file under History option, the contents of current file are always coming blank because of which its getting tough to check the differences between the current file and its previous revisions.

[2020-04-05 08:14] funfried commented on #113
Hello and sorry for the late response. Are you sure the issue is related to this plugin? Did you uninstall it and did it work again afterwards? Which version of the plugin are you using? And do you see any stacktraces related to this plugin (de.funfried...) in your IDE log?

[2020-04-06 05:10] nainwal-shobhit commented on #113
Hi,
Yes after uninstalling, the ID started working perfectly. I am using the externalcodeformatter-1.13.0.nbm plugin. Hope 1.13.0 is the version. Also I have checked the stack, it is showing below error:
java.lang.ClassNotFoundException: Will not load class com.sun.tools.javac.api.JavacTool arbitrarily from one of ModuleCL@48216def[org.netbeans.libs.javacimpl] and ModuleCL@7b89ee8f[de.funfried.net

[2020-04-06 21:02] funfried commented on #113
From the stacktrace it seems it is related to #111, could you please try the current SNAPSHOT version and check if it is better with that version? You can find the download link [here](https://funfried.github.io/externalcodeformatter_for_netbeans/downloads.html)

[2020-04-07 19:29] nainwal-shobhit commented on #113
Thanks, using snapshot version solved the issue.
However i have an another question, does this plugin work with intellij formatter xml file also?

[2020-04-07 20:38] funfried commented on #113
Happy to hear it solved your issue!
And regarding your question: IntelliJ formatter is not supported at the moment and I guess it won't in the near future because their formatter is pretty strongly couple to their IDE afaik. If you can point me to a (maven) library which can handle IntelliJ formatter configurations and formats the code accordingly I'll definitely integrate it, but I couldn't find

[2020-04-08 07:03] nainwal-shobhit commented on #113
Yes you are correct, even i haven't found any in maven. I was going through some forums there also they have mentioned eclipse formatter can be imported in intellij but vice versa is not possible till now. So lets hope, in future they will take this up and release some library.
Thanks once again for the plugin, your contribution is highly appreciable.

[2020-04-08 07:03] #113 closed

[2020-05-16 22:36] janScheible opened #116 "support for relative configuration file location"
Same idea as in #60 "support for relative file location" with exactly the feature suggested in [markiewb's reply](https://github.com/funfried/externalcodeformatter_for_netbeans/issues/60#issuecomment-102820940). Support for relative file locations like `${projectdir}/my-config.xml` for project specific settings (doesn't make sense for the global settings). Also support of `${projectdir}/../my-conf

[2020-05-18 19:52] funfried commented on #116
Hello Jan,

thanks for filing this issue (again somehow) and even more for also delivering the necessary code for that feature!
I'm willing to accept and merge the pull request, but I'm still not getting the feature. Maybe let me try to summarize what I've understood:

1. For the global settings nothing changed
1. For the project specific settings you can set a relative file path for the eclipse f

[2020-05-20 19:50] janScheible commented on #116
Hi Fabian,

great to hear from you.
@1. yes @2. yes @3. no

The feature supports the following project structure:
![project-structure](https://user-images.githubusercontent.com/6819229/82489333-c6b08e00-9ae1-11ea-827d-531ecf99a77f.jpg)
There is a single `eclipse-formatter-config.xml` in the root project directory. In the Maven `pom.xml` of root project the formatter config is for example used like

[2020-06-03 22:12] funfried commented on #116
Sorry for the late response, I had some private stuff to take care about.
I decided to implement my own version of this change as I didn't like to have the ${projectdir} variable, which seemed not necessary to me. With the newest version you can just enter relative paths to the project directory into the file location textfields. I hope that helps you. Thanks again for participating in the develop

[2020-06-07 22:35] janScheible commented on #116
First and foremost: thank you very much for dealing with my feature request.
Simple relative path support sounds very good and is exactly what I need. The unfortunate `${projectdir}` was just a first attempt to implement the feature. I had a look at your new implementation, looks reasonable to me. ;-) As mentioned this was my first attempt to change something in this code base. You see the bunch o

[2020-06-08 10:07] janScheible commented on #116
Are you a linux user? I found the mysterious `.replaceAll(Pattern.quote("\\"), "/"))` in my branch. If I remember correctly `projectDirectory.getFileObject(String)` required slashes...

[2020-06-08 20:39] janScheible commented on #116
I gave the `1.14.x` branch a try and it worked now on Windows. 👍

[2020-06-08 20:49] funfried commented on #116
Yes and no, I'm on macOS, but anyway, thanks for pointing this issue out and for trying it already. I'm about to release the next SNAPSHOT version and soon the final 1.14.0, I guess within the next days.

[2020-06-21 13:37] #116 closed

[2020-06-29 21:06] funfried opened #124 "Update to newest Eclipse JDT version (3.22.0)"
Updating to the newest Eclipse JDT version 3.22.0 is currently not possible because it causes the Spring Java Code Formatter to stop working and throwing an exception instead when trying to format code with it, see https://github.com/spring-io/spring-javaformat/issues/204

[2020-07-20 15:42] #124 closed

[2020-09-09 09:05] cbm64chris opened #137 "Erroneous formatting with Google"
Using the Google format, I am seeing some odd behaviour when hitting enter to autocomplete. Turing back to the NetBeans, auto complete working fine.

![ExternalFormatter](https://user-images.githubusercontent.com/20171342/92578465-c819e800-f283-11ea-8ee5-a28baae6ce62.gif)

[2020-09-16 06:54] funfried commented on #137
Sorry for the late response and thanks for reporting the issue!
I'll have a look at this as soon as possible.

[2020-10-22 16:43] moacirrf commented on #137
I have issues like that when i have blank lines before package declaration.

[2021-01-04 14:08] rkraneis commented on #137
I can confirm this problem does appear when there are blank lines before the package declaration. The more blank lines there are, the further up above the cursor codes get overridden.

What I also see quite often is that if I try auto complete inside a chain of method calls, that the cursor does not highlight the method arguments (as it does when adding to such a chain, so that I can immediately o

[2021-01-05 21:56] moacirrf commented on #137
I am using branch release/1.14.x, everything is fine.

[2021-01-08 15:40] funfried commented on #137
I saw this issue in the meantime with the Eclipse formatter myself, but I wasn't able to securely reproduce the issue yet. I'm still investigating, if you have any ideas how to fix it, please let me know.

[2021-01-14 19:14] funfried commented on #137
I've updated all formatter dependencies to the newest versions and tried to reproduce this issue and I wasn't really able to reproduce this exact issue, but I saw weird behaviour if the formatting of the file didn't match the formatter which was configured and I was writing new code to the file, especially fluent API code like the one in the video above, but as soon as the formatting of the file d

[2021-01-15 04:14] moacirrf opened #140 "NullPointerException: The detailsText parameter cannot be null."
Hi
How to replicate, Netbeans 12.2
1- Go to preferences choose Google Java code Formatter, code style google and check **Show Notifications(about used formatter)**
2- Try to format source code.
3- Instead window notification, will throw a exception.

One way to fix is:
open class GoogleFormatJob replace:
   NotificationDisplayer.getDefault()
                    .notify("Format using Goolge formatt

[2021-01-15 08:33] cbm64chris commented on #137
@funfried built with zulu11 with NetBeans 12.2 target running on zulu15. Installs fine - will let you know how it goes over the next few days.

[2021-01-15 10:00] funfried commented on #140
Thanks for reporting and also delivering the fix, if you would like you could also create a PR for the changes. If not, it's also fine, I'll create it myself

[2021-01-15 10:16] rkraneis commented on #137
Same here (but s/zulu/adopt/ :trollface:).

[2021-01-15 11:52] moacirrf commented on #140
I will create a PR.
Thanks

[2021-01-17 23:33] moacirrf commented on #140
I will close this issue.
Thanks!

[2021-01-17 23:33] #140 closed

[2021-01-18 06:28] funfried commented on #137
@cbm64chris and @rkraneis I finally got my release pipeline back to work again and so you can download the latest SNAPSHOT from either GitHub Packages or from Maven Central.

[2021-01-18 06:29] funfried commented on #140
You're welcome and thank you as well

[2021-04-04 15:26] moacirrf commented on #137
With google formatter, Netbeans 12.3, Adopt JDK 15.
[code]
I receive an exception in Google Formatter
[code]
https://github.com/google/google-java-format/issues/538

The comments and the javadoc is the problem,  is a problem with google formatter,  i updated google java formatter to 1.10.0 and comment google-guava
[code]

[2021-04-05 18:41] funfried commented on #137
@moacirrf Thanks for the hint, I'll check within the next days and push another SNAPSHOT release

[2021-04-12 16:04] sroeper opened #145 "Imports in Google Formatter are in wrong order"
According to the web page of google-java-format the import order is not changed by google-java-format.
The google guide [()](https://google.github.io/styleguide/javaguide.html#s3.3-import-statements) says:
Imports are ordered as follows:

All static imports in a single block.
All non-static imports in a single block.
If there are both static and non-static imports, a single blank line separates th

[2021-04-15 19:58] funfried commented on #145
@sroeper Sorry for the late response. I need to check if it is related to the formatter or if the sorting of the imports is done by NetBeans itself. Maybe you can check faster than me. Just try to disable the sorting of the imports inside the NetBeans settings and see what happens.

Cheers,
Fabian

[2021-04-19 07:55] manticore-projects opened #146 "Support for SQL Formatting"
Greetings.

I have been using Netbeans for years and always have been unsatisfied with its internal Java Formatter. So finding the External Code Formatter plugin was a heaven's gift and I us it since.

[2021-04-19 08:01] funfried commented on #146
Wow thanks a lot for the nice words! I also want to mention that I didn't start this project, just continued the work from @markiewb so I guess he also earns some of the feedback 😃

I'll check what options there are for SQL formatting and come back at you.

[2021-04-19 08:04] manticore-projects commented on #146
Sorry Sir, I hit the <Ctrl>-<Enter> button accidentally and prematurely.

[2021-04-19 08:09] funfried commented on #146
Oh I see, no worries. Sounds good, let me check if I can add your JSQLFormatter into the plugin somehow, would definitely add more value to the plugin. Also missed a SQL formatter here and then inside NetBeans.

[2021-04-19 08:15] manticore-projects commented on #146
Please do not be offended by the currently failing CI. These failures are caused by pending fixes/PRs I have committed to the JSQLParser.
The Maven Artifact should still work for you because I provided a UeberJar with a fixed JSQLParser inside. As soon as the JSQLParser corrections will be accepted, this glitch will resolve automatically.

Thank you for looking into that already! Cheers und viele

[2021-04-25 12:51] manticore-projects commented on #146
Greetings.

Without any idea, what I was doing, I have forked and tried to add support for SQL via JSQLFormatter: https://github.com/manticore-projects/externalcodeformatter_for_netbeans
I managed to compile and to install the Plugin and indeed I can see a new Formatter Option (bound to Mimetype `SQL("application/sql", "text/sql", "text/x-sql", "text/plain")`)

![image](https://user-images.githubu

[2021-04-26 00:49] manticore-projects commented on #146
With a lot of trial'n error and help from the Netbeans mailing list, I got it bound to the SQL Mimetype.
It is actually working (!) and I have been able to format complex SQL statements nicely. Will work on robustness and formatting parameters this week and then issue a PR from https://github.com/manticore-projects/externalcodeformatter_for_netbeans

Cheers!

[2021-05-01 10:19] manticore-projects commented on #146
This is just awesome:
https://user-images.githubusercontent.com/18080123/116778749-09266d00-aa9e-11eb-826c-de254bbfc27e.mp4

[2021-05-01 12:18] csonuryilmaz commented on #146
Hi, I saw formatter on Twitter and really impressed. I'm waiting impatiently for the next stable release of `external code formatter` which has built-in support for SQL files. Thanks for the awesome work! :+1:

[2021-05-01 12:24] manticore-projects commented on #146
Thank you for the feedback Onur.
You can download the Netbeans Plugin with SQL from here: https://github.com/manticore-projects/jsqlformatter/releases/download/0.1.6/externalcodeformatter-sql.nbm

Let me know anything what is not working. I am interested in as many as possible stress tests and corner cases.
Cheers!

[2021-05-01 12:32] csonuryilmaz commented on #146
Thanks for the download URL @manticore-projects. I'm actively developing SQL queries and will try "early access". :blush:

I was using other external DB tools for SQL formatting but not very satisfied. So it'll be useful for me to beautify my SQL queries without leaving Netbeans IDE.

[2021-05-01 12:37] manticore-projects commented on #146
You are very welcome. Please whatever issue you find, report it at the [JSQLFormatter Issue Page](https://github.com/manticore-projects/jsqlformatter/issues). I do not want to pollute External Code Formatter Page as I am just a guest here.

[2021-05-01 14:19] funfried commented on #146
@manticore-projects Thanks for the contribution, just saw the tweet by Apache NetBeans, nice work! I'll try to create a new release as soon as possible.
Stay tuned everyone ...

[2021-05-06 12:20] manticore-projects commented on #146
@funfried: Apologies for a very naive question. How would we like to handle Updates regarding the JSQLFormatter now?
For example, Nested With Statements e. g. [Interactive Demo](http://217.160.215.75:8080/jsqlformatter/demo.html?args=-c%20V0lUSCB0ZXN0c3RtdDEgQVMgKAogICAgICAgIFdJVEggdGVzdHN0bXQyIEFTICgKICAgICAgICAgICAgICAgIFNFTEVDVCAqCiAgICAgICAgICAgICAgICBGUk9NIG15X3RhYmxlMiApCiAgICAgICAgU0VMRUNUI

[2021-05-06 14:34] funfried commented on #146
@manticore-projects Good question, usually I update the dependencies before I release another version of the plugin or due to raised issues.
I would suggest you ping me (create an issue followed by an optional PR) and I create another release as soon as possible. Theoretically the plugin is designed to allow extensions (untested so far), so it should be possible to provide the SQL formatter as an

[2021-05-06 14:44] manticore-projects commented on #146
On Thu, 2021-05-06 at 07:34 -0700, Fabian Bahle wrote:

Thank you for the feedback. I know I could fork it into a separate SQL
(only) Formatter Plugin, but this would be the ultima ratio if it gets
too much trouble for you eventually.
For now, I think will try to calm it down for the May and then send you
a "Version Bump" PR every end of the month. The Plugin code won't
change, its only the depend

[2021-05-06 14:46] funfried commented on #146
@manticore-projects Sure, that's fine for me, only thought if I might be too slow, from a release cycle perspective, you might want to have it in your hands 😉
But sending me PRs or just creating issues with the hint of a new version, it's also fine for me 😊

[2021-05-06 14:49] manticore-projects commented on #146
On Thu, 2021-05-06 at 07:47 -0700, Fabian Bahle wrote:

Certainly not. My PRs for JSQLParser and als RSyntaxText area are
pending for so long, which really hurts because my CI keeps failing and
I can't release improved versions.
In comparison you were light speed fast.

Cheers

[2021-05-17 18:24] funfried commented on #146
@manticore-projects I finally merged to master, so there is a new SNAPSHOT release containing the SQL formatter. You can either download from [GitHub](https://github-registry-files.githubusercontent.com/12794025/7c0c2680-b6e1-11eb-8316-b2b4fd585eb2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210517%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210517T182036Z&X-Amz-Exp

[2021-05-18 05:25] manticore-projects commented on #146
Greetings!

I have released JSQLFormatter 0.1.7 and the major enhancement is the Import and Export of Java Fragments as shown in the video below. You can try that already [Online and interactively](http://217.160.215.75:8080/jsqlformatter/demo.html?args=-c%20FAdQkgKgEgBAzgBwDYEsAuMAUMcwO4D2ATgCbC4WUUA08aR5VTOtAFgIZwDGBAtr+xgBKGAEEAylkZUAaqIAyAVQCik7AHJ1tdaICuaAtVHUAjACYAzABYbVrTBPDplRQDkwAeVdj585x

[2021-05-18 18:56] funfried commented on #146
Just triggered another build for another SNAPSHOT release with the new version, please feel free to try it as soon as it is available and please give some feedback.

Regarding the Java-SQL formatting, I'll have a look at that, maybe I can add an extension or something like that to the plugin. Actually a custom action which triggers the action could be enough, should not be that hard.

[2021-05-19 00:14] manticore-projects commented on #146
Wow, you changed that:

Good Man! 
I noticed before already, that such details separate the man from the
boys. I always just get it working somehow while you really polish it
up until it is perfect and nice. Very good working with you!

On Tue, 2021-05-18 at 11:57 -0700, Fabian Bahle wrote:

[2021-05-19 00:31] manticore-projects commented on #146
Thank you, I have downloaded the Snapshot from 18th-May and uninstalled
the Plugin and then installed the downloaded. Shut down the Netbeans
IDE in between.

SQL Formatting seems to work, but suddenly the Google Java Formatter
does not do:

java.lang.NoSuchMethodError: 'java.lang.Comparable
com.google.common.collect.Comparators.max(java.lang.Comparable,
java.lang.Comparable)'
at
com.google.googlej

[2021-05-19 05:11] funfried commented on #146
Ok, I'll have a look into the Google Code Formatter and JSoup, I updated those to the latest versions, maybe there's a bug or something got incompatible with my other dependencies.

Regarding your new feature: I thought about it and it should be really easy to add those features, but it's not really a formatter feature. I'm not sure whether that should go into the external formatter plugin or a "E

[2021-05-19 05:40] manticore-projects commented on #146
Thank you for the feedback.

On Tue, 2021-05-18 at 22:11 -0700, Fabian Bahle wrote:

Exactly my concern.

Naturally it should be a Menu Entry in the PopUp Menu when you actually
edit/work on a Java File (where you have SQL inside a String construct)
or a SQL File (for "export to Java String").
But I have no good idea how to do that in Netbeans for a Usablity
perspective

Yes, although there is a s

[2021-06-04 08:28] odemura opened #152 "Erroneous formatting with eclipse"
Netbeans' External Code Formatters plugin
has a problem with tabs.
despite
`<setting id="org.eclipse.jdt.core.formatter.tabulation.size" value="4"/>`
`<setting id="org.eclipse.jdt.core.formatter.tabulation.char" value="space"/>`
Netbeans eclipse formatter replaces 8 spaces into a tab in both edit mode and reformat.
standard netbeans formatter settings match those above
and were working fine before

[2021-06-24 09:44] funfried commented on #152
Sorry for the late response, was quite some time not at my PC for private reasons. Thanks for reporting and I'll try to fix it as soon as possible ...

[2021-07-05 12:45] claudio-rosati opened #153 "Using Java 16 and its newly supported language features breaks google formatting."
I'm using NetBeans 12.4 with Java 16.

If, for example, I use the new switch statement or the new instance of statement, formatting is no more working.

[2021-07-07 16:03] dgreen commented on #153
Same issue with somewhat earlier features like new switch formatting on Java 15.

It looks like Version 1.7 of the Google Formatter is included.  The Google Formatter seems to now be at V1.10.  Am I getting an old version of the NetBeans through the NetBeans 12.4 Plug-In interface.  I have run "update" on the Check-for-updates" pane of NetBeans Plug-in Window.  Or is the issue that a new version o

[2021-07-08 05:14] funfried commented on #153
Thanks for using the plugin and reporting the issue. At the moment there is 1.14.1-SNAPSHOT version in a test phase, could you please try that version which can be downloaded [here](https://funfried.github.io/externalcodeformatter_for_netbeans/downloads.html) (see "Latest development builds")?
Please let me know if the problem still appears with that version.

Cheers,
Fabian

[2021-07-08 05:50] dgreen commented on #153
Hi Fabian,

I have installed it and it resolved the issues I had seen.  I will reply
again if problems occur but it looks good.

Do you anticipate pushing it out by the 1st of August or so?  I am teaching
a class that uses NetBeans and specifying the Java Google Format as a class
standard and hope that we can use your plugin with the post-Java 8 language
editions.

Many thanks,

Dave

On Thu, Jul

[2021-07-12 20:46] funfried commented on #153
Hi Dave,

I really appreciate bringing more people to use NetBeans, so I try my very best, but some weeks ago I became a dad for the second time so things are crazy right now and I can't promise anything, but as said, I try my very best to find the time to make a final release and pushing it to Maven Central so it can be downloaded from the plugin center of NetBeans.

Cheers,
Fabian

[2021-07-12 20:49] dgreen commented on #153
Hi Fabian,

Thanks and congratulations on your new child — enjoy!!!  I am in the
Grandpa phase of life and know that you should spend time with your
children and nurture them.

Best,

Dave

On Mon, Jul 12, 2021 at 3:46 PM Fabian Bahle ***@***.***>
wrote:

[2021-07-21 18:37] asbachb opened #154 "Feature: Recognize formatter-maven-plugin"
Would be cool if the plugin recognizes if a maven project contains a `formatter-maven-plugin` configuration like NetBeans does it for `maven-checkstyle-plugin`.

[2021-07-21 18:40] asbachb opened #155 "Feature: Allow remote configuration"
An option to pass formatter configuration via http would help some people in an organisation to keep up to date with formatting rules since they can point it to a central managed rolling release.

[2021-07-21 18:42] asbachb opened #156 "Feature: Allow configuration from project resource"
When you configure a formatting per project it might be useful to refer the format configuration some kind of relative instead of absolute.

[2021-07-22 06:53] funfried commented on #156
Thanks for reporting, but that should already be implemented as of #116
Does that fit your needs, or could you be a bit more specific on where you would expect relative paths and relative to what?

Cheers,
Fabian

[2021-07-23 05:57] asbachb commented on #156
I'm a little bit unsure why it does not work for me:

![image](https://user-images.githubusercontent.com/1482768/126742483-65b82734-aec7-4df4-8cf4-399ab016b742.png)

[2021-07-23 06:01] funfried commented on #156
Just get rid of the ${projectdir} variable and use `target/formatter.xml` instead, no need for variables here.

[2021-07-23 06:27] asbachb commented on #156
Ah. I was following the "example" down below which refers to `${projectdir}`.

[2021-07-23 06:27] #156 closed

[2021-09-12 22:03] sviperll commented on #152
I have the issue with 1.14.1 version when "Use indentation settings from external formatter" is checked. When I press enter after an open curly brace the cursor goes to the next line, but the indentation is increased by 8 instead of 4 spaces. But If I call `Format` from the `Source` menu, then the formatted result is as expected.

I have the following in the eclipse settings:

[code]

If I switch

[2021-09-16 20:19] funfried commented on #152
@sviperll I'm not sure if I got your point, but I'll try to reproduce your issue and if possible come up with a fix as soon as possible. Thanks for your feedback

[2021-09-30 11:31] ratcashdev opened #163 "Surround code functionality is broken while using Google Code Formatter"
Given a class like below
[code]
and the option of `Reformat on SAVE` set to `NONE`

I'd like to select `line to be surrounded` in the javadoc (without the '*') and hit `ALT+ENTER` and select a surrounding tag, e.g. `LI`.

## Expected result:
[code]

## Actual result:
[code]

[2021-10-20 21:13] ratcashdev opened #164 "NoSuchMethodError when formatting javadoc"
Version 1.14.1 result in `NoSuchMethodError` when formatting classes containing javadoc.
[code]

For some strange reasons the actual version of guava used is <30, even though the correct version is packaged.

Situation reproducible during tests:
[code]

[2021-10-20 21:27] ratcashdev commented on #164
Found it. The JSDT-CORE.jar contains a copy of the class in the exact same package!

[2021-10-21 05:33] funfried commented on #164
Thanks for filing this issue (and it's solution), I'll try to fix it as soon as possible. But you're also welcome to raise a PR with the fix if possible.

[2021-10-21 06:13] ratcashdev commented on #164
Would be happy, but the only fix I could do is remove that dependency with the related code as well :( since I don't need javascript.

[2021-12-08 06:17] funfried commented on #164
This issue should be fixed within the latest SNAPSHOT version, maybe someone could try and report here.

Thanks in advance

[2021-12-09 12:38] cbm64chris commented on #164
@funfried checked out, built and tested against 12.6 - looking good!

[2021-12-09 12:49] funfried commented on #164
@cbm64chris Thanks for your feedback, I'll try to make a new release asap

[2021-12-18 23:26] dgreen commented on #164
Any timeline on release?  I have a class starting Jan 8th that will use this if available.  Thanks.

[2021-12-19 09:56] funfried commented on #164
@dgreen I'll try to release soon, I guess around xmas and new year

[2021-12-29 02:55] funfried commented on #152
@sviperll I was able to reproduce your issue and I think I even found the problem, but I could not find a solution yet. I will have to have a deeper look into the NetBeans APIs and try to find a solution for this. I think a the moment the only workaround is to have the same value for `indentation.size` and `continuation_indentation`

[2021-12-29 15:31] sviperll commented on #152
@funfried Thank you for looking into this!

[2021-12-31 00:29] funfried commented on #164
Should be fixed now with 1.14.2

[2021-12-31 00:29] #164 closed

[2022-01-01 10:23] moxit0 opened #176 "Support for Intellij code formatter"
Hi, I am trying to import code formatter from Intellij but unfortunately without success. Is there a way to use Intellij code formatter with this plugin or is still not supported ?

[2022-01-02 20:18] funfried commented on #176
Hello @moxit0,

I think the libraries of the IntelliJ code formatter are not public. At least I could not find any of them in Maven Central or on the JetBrains website. If you know a place where to get them, please let me know, I'm more than happy to integrate their formatter into the plugin.

[2022-01-02 20:52] moxit0 commented on #176
I am not aware if Intellij has shared any library, currently they support Code stye format as XML, If this is somehow helpful. In general often developers are trying to migrate from Intellij to some other IDE but due to rest of their teammates are still using Intellij migration is not possible because of different code formatter.

[2022-01-02 21:36] funfried commented on #176
I'm totally aware of that issue, as I faced the same problem with Eclipse and NetBeans. It would make sense to have a common formatter for all IDEs or even IDE independent which is available afaik, but not really used.
Anyways, I downloaded the current IntelliJ CE and it looks like I could use the libraries from within that package, but it's not really decoupled and definitely not meant to be used

[2022-01-02 21:56] moxit0 commented on #176
I understand, is it possible some solution like parsing of their exported xml file and then mapping to Eclipse or Netbeans code formatter properties ?

[2022-01-02 22:09] funfried commented on #176
I need to check their XML output, but I'm pretty sure I would have to write my own custom mapper, which could be quite difficult as there might be a lot of options and some of them might not match the options of the Eclipse or NetBeans formatter and then I would need to add some logic into the mapper which could change anytime either on IntelliJ side or on Eclipse or NetBeans side. I'm not sure if

[2022-01-04 13:42] jkovalsky opened #178 "Cannot open Java sources if NetBeans 12.6 is run on JDK 8"
I tried to install 1.14.2 version of [External Java Code Formatters](https://plugins.netbeans.apache.org/catalogue/?id=15) plugin to my Apache NetBeans IDE 12.6 running on JDK 1.8.0 Update 271 but it resulted in unusable Editor. Opening any Java file resulted in empty editor due to attached [UCVError.txt](https://github.com/funfried/externalcodeformatter_for_netbeans/files/7807967/UCVError.txt). P

[2022-01-04 19:32] funfried commented on #178
Hello @jkovalsky,

I tried to compile against JDK 1.8, but unfortunately I'm using past JDK 1.8 features like Lambdas and Streams and so on in my source code, so I think there is no turning back to Java 1.8 for me here.
Is there any way of not compiling the plugin against JDK 1.8 and still getting the verification somehow?

Kind regards,
Fabian

[2022-01-04 20:26] funfried commented on #178
@jkovalsky
I looked a bit deeper into this and actually Lambda and Streams were introduced in Java 1.8, so that's not really the problem. But the latest Eclipse formatter (and maybe others are/)is also compiled with Java 11 and so I cannot compile with Java 1.8 anymore as my dependencies are already compiled with Java 11.

So the question is still: Can I get the verification even when my plugin is

[2022-01-04 22:14] funfried commented on #152
Finally, I was able to merge my fix (due to some weird issues with one of the CI/CD systems [AppVeyor] which stopped working, now I switched to GitHub Actions and it works again).
Anyway, this bug should be resolved in the latest development build (1.14.3-SNAPSHOT), please feel free to try it and please report if you still see this issue or if it was really resolved.

Regards,
Fabian

[2022-01-05 12:35] jkovalsky commented on #178
@funfried thanks for your reply and investigation. You can of course ask for help via [dev@netbeans.apache.org](mailto:dev@netbeans.apache.org) mailing list but maybe you just want to copy the same solution which is used in the 1.14.0 version of your plugin which works fine also in 12.6. Unfortunately, 1.14.1 version is also broken and makes NetBeans Java Editor unusable.

Until this is sorted out

[2022-01-05 14:48] funfried commented on #178
Hmm, I think there is a misunderstanding here.
For my understanding: You are saying that my plugin isn't working with NetBeans 12.6 running with Java 1.8, correct?
But I think it is working under NetBeans 12.6 running with Java 11, did you check that as well?

And 1.14.0 is only working because it is using an older version of the Eclipse formatter which was compiled with Java 1.8, but they switche

[2022-01-05 21:10] jkovalsky commented on #178
Yes, the 1.14.1 plugin works fine in NetBeans 12.6 running on JDK 11 of course. So there are two options:

1. Either your plugin will disable its functionality if NetBeans is running on JDK 1.8 or
2. You make it clear in its description both NBM and Plugin Portal that it requires JDK 11 and that on JDK 1.8 editing of Java sources is corrupted.

In both cases I am willing to revisit my NoGo decisio

[2022-01-05 21:50] funfried commented on #178
Thanks! First solution sounds perfect to me, I just found out that a Module Installer shows that the plugin won't work on NetBeans running with Java 8 when the plugin should get activated, so that should be fine I guess.

Unfortunately, Travis is not running my pipelines anymore as I'm using a free plan and it seems I exceeded my free credits there, so I cannot deploy any versions to Maven Central

[2022-01-11 11:28] jkovalsky commented on #178
FYI, I have just learned that the preferred way how to do it is much easier. See [here](https://github.com/apache/netbeans/blob/master/java/lib.nbjshell9/manifest.mf#L8).

[2022-01-11 12:08] funfried commented on #178
Looks a lot better, thanks! I'll try it and let you know when I have a new version published. It seems I've also migrated my release pipeline to GitHub Actions successfully, so it shouldn't take very long, maybe today evening or tomorrow.

[2022-01-12 22:51] funfried commented on #178
Hi @jkovalsky,

Finally I got everything together (better than before) and here is the fixed version as a pre-release: [1.14.3-SNAPSHOT](https://github-registry-files.githubusercontent.com/12794025/8f52cb80-7401-11ec-8d7a-22561c0b9fc5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20220112%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220112T224738Z&X-Amz-Expires=300&X-Amz

[2022-01-12 23:09] funfried commented on #152
@sviperll Have you been able to check within the latest SNAPSHOT of 1.14.3?

[2022-01-13 20:05] jkovalsky commented on #178
I am sorry but I cannot access the file. Can you fix it or share the NBM elsewhere?
`<Error>
<Code>AccessDenied</Code>
<Message>Request has expired</Message>
<X-Amz-Expires>300</X-Amz-Expires>
<Expires>2022-01-12T22:52:38Z</Expires>
<ServerTime>2022-01-13T20:03:00Z</ServerTime>
<RequestId>BPG0GH0MBTMJNEGY</RequestId>
<HostId>
IsiqrDe3siMmJLFw8JvLzH6IPef028ASJaWoL8txRTaPQzrnGsvPotGNLZX4FDAb4Yoc+kHg

[2022-01-13 21:02] funfried commented on #178
Hi @jkovalsky,
maybe you can check the [Packages](https://github.com/funfried/externalcodeformatter_for_netbeans/packages/1172816) for the latest NBM, or [here](https://github-registry-files.githubusercontent.com/12794025/8f52cb80-7401-11ec-8d7a-22561c0b9fc5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20220113%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220113T210109Z

[2022-01-13 21:59] dgreen commented on #178
Just a follower, but I was able to download it from Packages (it is about midway down on the list on the right).  I can confirm that it worked on JDK17, NB12.6, (MacOSX, M1 Pro, Monterey).  Thanks for working through this.  I realize the real test is the behavior for JDK 1.8, which I cannot test.

[2022-01-13 22:50] funfried commented on #178
@dgreen I need the confirmation for Java 1.8, but thanks for checking as well!

[2022-01-14 11:11] jkovalsky commented on #178
Thanks for the packages link. Unfortunately, after successful installation of the plugin in Apache NetBeans 12.6 running on 1.8.0_271 I keep getting the following exception and the problem persists. The plugin UI such as External Formatter options category is empty, user cannot open project properties, navigator never loads and Java files complain about missing mime type.

![obrazek](https://user-

[2022-01-14 12:22] funfried commented on #178
@jkovalsky That's really weird, as for me there is an error when starting the NetBeans IDE with Java 1.8 (running my project from within NetBeans) that I have to disable the plugin as it won't work with Java 1.8, only with Java 11. I'll do some more research on my system and try to reproduce this issue. Thanks again for trying it out and for the feedback.

[2022-01-18 15:43] FBene22 opened #185 "Using a Java Multi-line String results in an exception."
Hi,
I have problems with java classes containing the multi-line string, e.g.

String text = """
        Alpha
        Beta
        Gamma
        Delta""";

Whenever I format I get the following exception and stack trace.

	at org.netbeans.modules.java.source.pretty.CharBuffer.needRoom(CharBuffer.java:65)
	at org.netbeans.modules.java.source.pretty.CharBuffer.append(CharBuffer.java:127)
	at org.net

[2022-01-20 20:46] funfried commented on #178
Hello @jkovalsky,

Finally I had some time to test it myself with Java 1.8 and NetBeans 12.5 and I got this when I tried to install the plugin:

![image](https://user-images.githubusercontent.com/7093028/150419013-416b6edd-b8aa-48e2-8062-fdee183fc322.png)

I wonder why this message wasn't shown for you as well.

Maybe you've got an old SNAPSHOT by accident, could you please try once more with this

[2022-01-20 20:53] funfried commented on #152
Hello @sviperll,

thanks for your formatter configuration, I finally had time to look into this and still it seems to work for me with the latest changes, just to be sure you tested with the latest changes as well, could you please try this [NBM file](https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.3-SNAPSHOT/externalcodeformatter-1.1

[2022-01-20 20:57] funfried commented on #152
Oh, I just realized you were using this version. I really wonder what's different then. Why is it working for me and it's not working for you ...
I'll investigate a bit more and try to reproduce your issue again ...

[2022-01-21 09:28] sviperll commented on #152
@funfried I've recorded a video to better illustrate the problem: https://youtu.be/yAAeFSmOAGE . Hope this can help.

[2022-01-21 09:31] funfried commented on #152
@sviperll Thanks, I was able to reproduce this behavior and was able to improve it with your hints, but it's still not fixed. I 'll try to fix it completely and create a new SNAPSHOT version

[2022-01-21 17:25] jkovalsky commented on #178
Hey Fabian, please accept my apologies! Your assumption was right as I downloaded wrong file (_externalcodeformatter-1.14.3-20220104.225539-1.nbm_). With _externalcodeformatter-1.14.3-20220112.231113-6.nbm_ everything works great and I cannot install your plugin with JDK 1.8 while with JDK 11 it works fine.

You are good to go!

[2022-01-21 20:17] funfried commented on #178
Perfect, thanks again for pre-testing! I'm just really happy that it works now.
I'll try to fix #152 as well and then create a final release with both fixes.

[2022-01-21 22:07] funfried commented on #185
Thanks for reporting, I'll have a look at it as soon as possible.

[2022-01-21 23:09] funfried commented on #152
@sviperll This time I'm pretty sure I fixed it 🙂
I tested it in my IDE for your settings and mine and everything behaved as expected, could you check if you can confirm that it's also working for you? Here is the latest version: https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.3-SNAPSHOT/externalcodeformatter-1.14.3-20220121.215942-7.n

[2022-01-21 23:12] funfried commented on #185
I tried with the Eclipse formatter in the [latest SNAPSHOT build (upcoming release)](https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.3-SNAPSHOT/externalcodeformatter-1.14.3-20220121.215942-7.nbm) and it worked for me without any issues.
Which version of the External formatter plugin did you use and which formatter did you use?
Could y

[2022-01-22 12:42] sviperll commented on #152
I've tried, Normal indentation is good now, but "continuation indentation" doesn't work still. Look at the [video](https://youtu.be/yAAeFSmOAGE), when I write `String newName =` and press `[Enter]`, then the following line is indented by only 2 spaces (instead of 8). This behavior is still the same in the latest snapshot. I think you should change `EclipseJavaFormatterService#getContinuationIndent

[2022-01-22 12:55] sviperll commented on #176
For what it's worth. You can probably use Eclipse as a common formatter. There is an IntelliJ-plugin [for this](https://github.com/krasa/EclipseCodeFormatter).

[2022-01-22 14:51] funfried commented on #152
Actually, I tried it like this and it got worse. I was hitting enter after a '{' after a method declaration and after an if statement and both worked since my last changes.
I will also try to reproduce what you were doing in the video, but it seems I don't need a lot of logic inside my class as I'm just providing the values, most of the indentation logic should be done internally by the NetBeans e

[2022-01-22 16:40] funfried commented on #152
Ok @sviperll, you were right, the code snippet of yours did the trick. Please try [this version](https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.3-SNAPSHOT/externalcodeformatter-1.14.3-20220122.160625-9.nbm)

[2022-01-22 17:46] sviperll commented on #152
@funfried Yes, now everything works. Thank you.

[2022-01-22 19:51] #152 closed

[2022-01-22 19:51] #178 closed

[2022-01-24 07:58] FBene22 commented on #185
I am using the google formatter.

Thanks!

[2022-01-24 08:05] funfried commented on #185
I just release 1.14.3 yesterday, please try it there as I wasn't able to reproduce it there with the Google formatter, I guess they fixed it already as I'm just calling there library there wouldn't be much I can do, I'm afraid. But as said, I think they already fixed it and I was switching to the latest version in 1.14.3, so everything should be fine, I hope. Please confirm.

Regards,
Fabian

[2022-01-24 13:51] FBene22 commented on #185
I did some test and now everything seems to work. Awesome!

[2022-01-24 13:51] #185 closed

[2022-01-24 15:59] funfried commented on #185
Thanks for checking again! Glad that everything's fine now

[2022-01-29 16:26] dgreen opened #190 "Blank lines at end of file bother Google Formatter"
It appears that the formatter quits if there are blank lines at the end of an otherwise valid file.  This occurs, at least, when the Google Formatter is selected.  Once you know this is the issue, the workaround is simple.

[2022-01-31 07:09] funfried commented on #190
Hello @dgreen,
thanks for reporting. Sounds weird to me, I'll have a look into it as soon as possible.
I assume you are using the latest version (1.14.3), right?

[2022-01-31 14:51] dgreen commented on #190
Correct.  Actually found by my students but I was able to duplicate by just adding one or more blank lines to a .java file and saving - fails.  Then deleting the blank lines and saving again - works.

[2022-02-01 21:28] funfried opened #191 "Override tab size in Eclipse formatter causes wrong code indentation"
When "Override Tab Size" is set to 4 and "org.eclipse.jdt.core.formatter.tabulation.size" is configured with 2 the code indentation is using 2 and after a format it will be set to 4

[2022-02-07 19:07] funfried commented on #190
@dgreen There is a new [SNAPSHOT release](https://oss.sonatype.org/content/repositories/snapshots/de/funfried/netbeans/plugins/externalcodeformatter/1.14.4-SNAPSHOT/externalcodeformatter-1.14.4-20220207.091658-4.nbm). Would you be so kind and try to reproduce this bug with that version and give me some feedback here?

Thanks in advance.

Cheers,
Fabian

[2022-02-07 19:37] dgreen commented on #190
@funfried  I recreated the failing scenario and confirmed it was failing. I loaded the new plugin (without uninstalling the old plugin first). Then NetBeans restarted as expected.

The problem is fixed. Hitting Save (with format-on-save on) successfully cleared the extra lines at the end. I also tried re-creating the problem with both blank lines and lines with spaces. The new plugin version corre

[2022-02-07 20:54] funfried commented on #190
Thanks for your fast response!

I'll trigger a new release just now 🙂

[2022-02-07 21:35] #190 closed

[2022-02-07 21:36] #191 closed

[2022-03-12 10:31] e-gaulue opened #201 "Look to be a great tool! how does it works?"
Working on a classical js file I don't manage to get a reasonable auto-format indentation from Netbeans, I decided to tried this plugin, because maybe Eclipse auto-format would be better then Netbeans.

I'm on macos. After plugin installation, I've been to general preference and associated "javascript" to "Eclipse Javascript Code Formatter". I've no entry under and if I click on browse, I've no id

[2022-03-19 09:07] ratcashdev commented on #164
Test, is OK.

[2022-03-24 07:40] funfried commented on #201
Hi @e-gaulue,

Sorry for the late response!

As it says the plugin provides the Eclipse Javascript Code Formatter which comes with the Eclipse IDE. Usually you use that formatter because your co-workers use Eclipse and already have a configuration (*template.xml file). If that's not the case for you, I suggest you install the Eclipse IDE and create a JavaScript formatting configuration there and t

[2022-04-19 10:37] akronenw opened #202 "Cannot select workspace mechanic configuration file"
Hi,
I am trying to use a workspace mechanic configuration file but whenever I choose it, the plugin keeps saying:
**Invalid file. Please enter a valid configuration file.**.

I had a look at the source code, in the method *valid* in class *EclipseJavaFormatterOptionsPanel* there is this line:
*if (!fileExists || (!isXML && !isEPF && !isProjectSetting) || cbProfile.getSelectedIndex() < 0) {*
where

[2022-04-19 19:17] funfried commented on #202
Hi Alex,

I have to admit, I never used that feature myself, it was already there when I took over the plugin from markiewb. Can you provide me your workspace mechanic file? I'll look into it. And also thanks for the hint, totally possible that this is the cause of the issue.

Cheers,
Fabian

[2022-04-20 07:21] akronenw commented on #202
Hi Fabian,

please see attached file. Do not forget to cjhange the file extension to ".epf".

Best
Alex

P.S.: I build the plugin on my machine with jdk17 which worked fine, but after installing it to the IDE (NetBeans 13) I see an exception in the log:

[java-imports.txt](https://github.com/funfried/externalcodeformatter_for_netbeans/files/8519232/java-imports.txt)

[2022-04-20 19:48] funfried commented on #202
@akronenw

I did not compile the plugin against jdk17 so far, not sure why this should cause any trouble, but yes please file another issue. Maybe I can fix that somehow, but as plugins built with jdk11 are supported by jdk17, I don't think that's a serious topic, but I would like to keep track of it. Thanks for telling me.

[2022-05-03 18:11] funfried commented on #202
@akronenw In the latest SNAPSHOT version (1.15.0) this bug should be fixed, would be great if you could confirm that.

Cheers,
Fabi

[2022-05-04 01:37] akronenw commented on #202
Hello Fabian,

I just installed the snapshot version and the issue has disappeared. As far as I can tell, the EPF is correctly interpreted.

Thanks for the fix!
Best
Alex

[2022-05-04 07:05] funfried commented on #202
Thanks for your feedback! I guess I'll make the final release within the next days so it will be available through the NetBeans Plugin Center soon.

[2022-05-09 16:23] jonathanpoulin9 opened #205 "Use a different version of google-java-format"
Hi,

I'm wondering if this is possible to use your plugin with NetBeans 13 with a specific google-java-format version, for instance version 1.7. For now we're using JDK 8 and the last version we can use is version 1.7 (https://github.com/google/google-java-format/releases/tag/google-java-format-1.7).

I found in pom.xml that property.
https://github.com/funfried/externalcodeformatter_for_netbeans/

[2022-05-10 07:00] funfried commented on #205
Hi @jonathanpoulin9,

unfortunately I cannot have the same library with different versions inside my plugin, that would cause class path issues, but one plugin can reference/use another plugin in NetBeans and plugins can have different versions of the same dependency, so I could add an extra plugin (like an extension to the External Code Formatter Plugin) providing the old Google formatter, but st

[2022-05-18 20:34] #202 closed

[2022-05-18 20:37] funfried commented on #201
@e-gaulue I'll close that issue due to inactivity, if you have further questions feel free to open another issue.

[2022-05-18 20:37] #201 closed

[2022-05-18 20:42] funfried commented on #205
@jonathanpoulin9 Did you check my last comment? Could you use Java 11+ for running NetBeans and either by configuration or by a different Java Platform build a Java 8 (compatible) artifact? Or is that not an option for you? I really thought about that issue the past days and it would be possible that I just offer formatters which are compatible with Java 8 in the current external code formatter pl

[2022-05-18 21:01] funfried commented on #107
So far I could not find a promising Java implementation of a HTML formatter, please let me know if someone knows any.

[2022-05-18 21:01] funfried commented on #106
So far I could not find a promising Java implementation of a CSS formatter, please let me know if someone knows any.

[2022-05-18 21:01] funfried commented on #45
So far I could not find a promising Java implementation of a PHP formatter, please let me know if someone knows any.

[2022-05-20 09:32] hlavki opened #208 "Palantir formatter throws NoClassDefFound exception"
Using version 1.15

If I use Palantir formatted in netbeans 14rc4 I get:

[code]

[2022-05-20 10:33] funfried commented on #208
Hi @hlavki,

thanks for reporting, I'll have a look into that as soon as possible.

Cheers,
Fabian

[2022-05-20 14:17] jonathanpoulin9 commented on #205
Hi @funfried,

Sorry for late response. I was busy!

In fact, I am running NetBeans 13 IDE using Java 17. For the applications we are developing, right now we must still use Java 8 for compiling.

Thanks

[2022-05-20 20:18] funfried commented on #208
Released 1.15.1 which should fix this issue

[2022-05-20 20:18] #208 closed

[2022-05-20 21:39] funfried commented on #176
Some news on this:

I found the Maven repository for the JetBrains Maven artifacts: https://plugins.jetbrains.com/docs/intellij/intellij-artifacts.html
And I think I found the artifacts of the IntelliJ Java formatter, but I did not yet understand how that code works and how or if I can call it to format a NetBeans Editor Document, but I'm on it and hopefully I'll find out how it could be used.

Ch

[2022-05-21 21:30] hlavki commented on #208
Can confirm that it works. Thanks

[2022-05-23 11:24] jonathanpoulin9 commented on #205
Hello @funfried,

What I meant in my OP is that from my understanding, for Java 8 code, the formatting to be used is Google Java Format version 1.7 (https://github.com/google/google-java-format/releases/tag/google-java-format-1.7). So now using your plugin as is, it uses version 1.15. Am I wrong?

[2022-05-23 18:44] funfried commented on #205
@jonathanpoulin9

No, you're absolutely right, the current version of my plugin uses the Google Java Format 1.15.0. But that should still be compatible with formatting Java 8 code, I can't think of any reason why it should not be able to format Java 8 code.
The only problem is that you cannot execute my plugin (and the Google Java Format code) with a JRE/JDK below version 11, but as you said you r

[2022-05-24 08:30] jonathanpoulin9 commented on #205
@funfried,

Nope, no exceptions or errors. I was just wondering if in the future I could have problems formatting Java 8 code with Google Java Format v1.15.0. Thanks!

[2022-05-24 08:39] funfried commented on #205
@jonathanpoulin9,

Ah ok, I see. I don't think so, because when you think about it Java 11 or 17 code can still look like Java 8 code (Java 11 and 17 can do more than 8 but not less), so the formatter will have to support that syntax always, the other way round is the problem, a formatter which was build for Java 8 cannot handle language features from Java >8, but the a formatter which can handle

[2022-05-24 08:39] #205 closed

[2022-06-03 07:16] jonathanpoulin9 opened #210 "Little typo"
Hi, I found a little typo here:
![image](https://user-images.githubusercontent.com/99435498/171806257-3c37b7df-eda8-4054-a5a9-36b80b9df13d.png)

[2022-06-03 13:04] jonathanpoulin9 opened #211 "Override Tab Size has no effect for Java"
Override Tab Size has no effect for Java as far as I understand what is the purpose of it. Here, I tried to override with 4 spaces but it still use 2. Am I missing something?
![image](https://user-images.githubusercontent.com/99435498/171859478-71d0dfc5-bf11-434a-93b0-385b648d12d7.png)

[2022-06-03 16:27] jonathanpoulin9 opened #212 "Formatting not applied when a .form file exists"
As the title says, the formatting is not applied (internal formatter is used instead) for a .java file when a .form (for the designer) file exists with the same name (e.g. MainView.java and MainView.form).

[2022-06-04 10:05] jonathanpoulin9 commented on #212
I think this is related somehow with [https://github.com/funfried/externalcodeformatter_for_netbeans/issues/100](https://github.com/funfried/externalcodeformatter_for_netbeans/issues/100) and [https://github.com/google/google-java-format/issues/433](https://github.com/google/google-java-format/issues/433).

[2022-06-04 18:35] #210 closed

[2022-06-04 20:48] jonathanpoulin9 commented on #211
I confirmed that it works well for at least XML, but not for Java file.

[2022-06-04 20:51] jonathanpoulin9 commented on #211
I just found out as well that it works partially for Java. If I hit TAB, it takes the value set in the field for "Override Tab Size", let say 4 spaces. However, it has no effect when the file is reformatted (i.e. it uses 2 as value).

[2022-06-04 21:00] jonathanpoulin9 opened #214 "Use indentation settings from external formatter has no effect for Java"
Probably the same bug than issue #211

Use indentation settings from external formatter has no effect for Java when the file is reformatted. However it changes which value is used (either internal or external formatter) when hitting TAB on the editor.

![image](https://user-images.githubusercontent.com/99435498/172025188-bcf3d896-ec6f-4f63-bb51-c3f0b6ff2538.png)

[2022-06-08 15:06] jonathanpoulin9 opened #215 "Plugin isn't organizing Java Imports (Google Java Code Formatter/Code Style Google)"
### Bug

When `Format` is called on the code editor, the plugin isn't organizing the Java Imports statements when it's using the `Google Java Code Formatter` with the Code Style `Google`.

That's important in order to comply with the [Google Java Style](https://google.github.io/styleguide/javaguide.html), for the [3.3 Import statements](https://google.github.io/styleguide/javaguide.html#s3.3-impor

[2022-06-08 18:37] funfried commented on #211
Thanks for filing the issue and sorry for the late response, I'm not that often at my laptop right now as I'm on vacation. I'll check if I can confirm the issue.

Maybe a short explanation on what it should do:
**Use indentation settings from external formatter**: This means that the NetBeans Editor uses the settings from the configured formatter instead of the internal NetBeans editor settings, s

[2022-06-08 18:39] funfried commented on #214
Maybe a misunderstanding of the functionality, but could also be a bug, I'll check if I can confirm the issue. In the meantime you could check if you got a wrong idea of the feature, I explained it in #211

[2022-06-08 18:43] funfried commented on #212
It depends, if you use the Google Java Formatter, then yes, this is a known bug which I cannot fix, it has to be fixed in the Google Java Formatter unfortunately. Eclipse formatter and the Spring formatter are capable of handling guarded blocks (non-editable blocks which are there if you have a .form file), but Google seems to ignore the defined blocks it should format, instead it just formats the

[2022-06-08 18:48] funfried commented on #215
I'll have a(nother) look into this, but I'm not sure if I can add this functionality in the formatter as NetBeans separates formatting from organizing the imports. I'm just handling format requests, but reorganizing the imports is a completely different thing in NetBeans. But as said, I'll have a look and check what I can do, maybe there is a way of triggering the organize import action from the f

[2022-06-08 19:04] funfried commented on #211
I just tested it myself and maybe I should start a user documentation for all those little ticks and features 😊

**Override Tab Size**: As said before, here you can override the tabulator size of your formatter configuration, but this of course only works if you use tabs for indentation and **NOT spaces**, if you use spaces, than spaces are spaces, there is no user specific size you could configur

[2022-06-10 11:39] dbalek opened #219 "ClassNotFoundException appears in the NB messages.log with the `externalcodeformatter_for_netbeans` plugin installed"
Installing the `externalcodeformatter_for_netbeans` plugin version 1.15.1 into NetBeans, the following exception appears in the `messages.log` after every IDE restart.
[code]

[2022-06-10 18:38] funfried commented on #219
@dbalek Thanks for reporting.

Does the formatting work anyway? Which formatters are you using? Do you use the JSDT formatter for JavaScript files?

I'll have a look myself, but would be great if you could give some more information on this error.

Cheers,
Fabian

[2022-06-13 09:52] dbalek commented on #219
Formatting seems to work fine (tested with the Eclipse Formatter on Java files). The exception appears in the log on every IDE startup during module loading (before any reformat action invocation). It seems like a possible clash between jar files distributed with the plugin and the jar files distributed by NetBeans itself?

[2022-06-19 12:36] jonathanpoulin9 commented on #211
I understand but this is not what I experience. Even if I check "Expand Tabs to Spaces" on the Formatting tab in Options, the option "Override Tab Size" makes a difference. But this is not the difference I expect.

So let say we check "Expand Tabs to Spaces" and set "Number of Spaces per Indent" to 2 on the Formatting tab. Then we check "Override Tab Size" and set it to 4 on the "External Formatte

[2022-06-19 12:42] jonathanpoulin9 commented on #212
@funfried

Yes, I forgot to say that I am using the Google Java Formatter. So this is what I understood about that bug. Thanks

[2022-06-19 12:52] jonathanpoulin9 commented on #214
@funfried

Here, I think now that is a little bit different than #211. I retested it. At least in that specific case, where the Google Java Formatter is used, with the code style Google, if "Use indentation settings from external formatter" is **unchecked**, formatting a Java file **always** use the external formatter.

[2022-06-19 13:04] jonathanpoulin9 commented on #215
@funfried

Great! :) I understand that it is 2 things now. So is it the case for all the formatters, Google but Eclipse and etc as well?

If I have time, I'll take a look also. I have already a fork of your plugin.

[2022-06-19 13:32] jonathanpoulin9 commented on #219
I confirm. On NetBeans startup, I have exactly the same message as @dbalek in the log file. I am using the plugin version 1.15.1 with NetBeans 14 under Ubuntu 18.04. The log file is here: `$HOME/.netbeans/14/var/log/messages.log`.

[2022-06-26 20:12] funfried commented on #215
@jonathanpoulin9

Yes, none of the formatters is organizing the imports right now and as said for NetBeans those are two different things and it also makes sense as the are no imports when formatting e.g. HTML.

[2022-06-26 20:20] funfried commented on #214
@jonathanpoulin9

Hmm, I'm still not sure if you understood what unchecking and checking this option means (and I still think I should add a documentation for that somewhere).

If you uncheck "Use indentation settings from external formatter" your code will still be formatted with the selected formatter for the programming language / mime type you have opened a file, so in your case a Java file, t

[2022-06-26 20:21] funfried commented on #212
Duplicate of #100, therefore closing this issue.

[2022-06-26 20:21] #212 closed

[2022-06-26 20:25] funfried commented on #211
@jonathanpoulin9

Hmm, ok, that sounds strange, I guess I have to look into this. Can you tell if the "Use indentation settings from external formatter" was checked or unchecked when you tested this? That could explain the behavior, otherwise it could be a bug indeed.

[2022-07-02 21:24] funfried commented on #219
@dbalek and @jonathanpoulin9

Sorry for the late response.

I checked it for my self and found it as well in the log file at the very beginning of the log statements:

[code]

[2022-07-12 03:57] funfried commented on #219
Hi @dbalek,

it took some time, but in the latest 1.15.2 SNAPSHOT version, it should be fixed. Would be great if you could confirm.

Thanks in advance.

Cheers,
Fabian

[2022-07-13 20:27] funfried commented on #211
@jonathanpoulin9

I just tried to reproduce what you described earlier and I have to admit, I'm a little bit confused.

Let me try to rephrase what you did, and what settings you were using:

In the NetBeans standard formatting (Editor -> Formatting tab) you've selected for Java Files:
"Expand Tabs to Spaces" => true
"Number of Spaces per Indent" => 2
"Tab Size" => ? (I tried with 2)
and for the E

[2022-07-13 20:48] funfried commented on #211
@jonathanpoulin9

My bad, I tried with the Google Formatter right after my last comment and found the issue. I forgot to check if the configured external formatter is using tabs and not spaces when overriding the tab size and if you use spaces it's causing the issue you are describing. Will be fixed soon ...

Cheers,
Fabian

[2022-07-13 21:00] funfried commented on #214
@jonathanpoulin9

Now that I found the bug described in #211 I think that one gets a little bit clearer too me. I guess due to that bug there was a wrong expectation on what this option does. As said "Use indentation settings from external formatter" does not influence the formatting of the file, it's just about presentation in the NetBeans Editor. And I guess I can close this ticket, please confi

[2022-07-13 21:26] funfried commented on #211
Latest SNAPSHOT should fix this issue by not doing anything as long as tabs are expanded to spaces

[2022-07-21 19:16] #219 closed

[2022-07-21 19:16] #211 closed

[2022-07-21 19:20] funfried commented on #215
I found actions to sort the imports inside some of the formatters and try to add that functionality. Actually, I already did implement that, but - as formatting and sorting the imports are two different things (at least for the NetBeans Editor) - I found no way to skip the On-Save-Sort-Imports-Action from NetBeans so far, I'll try to find a solution for that and if it is not possible, I'll show a

[2022-07-21 19:22] funfried commented on #214
I'm closing for now, but please feel free to comment on this ticket if you have some feedback for me.

[2022-07-21 19:22] #214 closed

[2022-08-03 04:55] funfried commented on #215
@jonathanpoulin9
This feature will be added in the next SNAPSHOT version and later in the 1.15.2 release, it took some time, but I finally got it to work. Unfortunately, it's not possible to sort the imports with the Eclipse Formatter as it seems to need some OSGi/Eclipse Equinox Runtime related stuff to initialize the related classes, but it can be used with the Google and Palantir Formatter.

[2022-08-03 04:56] #215 closed

[2022-08-03 04:57] funfried commented on #106
This looks very promising: http://cssparser.sourceforge.net/index.html

[2022-09-06 11:56] manticore-projects opened #225 "Bump JSQLFormatter to 1.0.0"
Greetings!

please bump the  JSQLFormatter version to 1.0.0
Thank you and cheers!

Andreas

[2022-09-08 21:05] funfried commented on #225
Hey @manticore-projects,

I tried to update to 1.0.0, but it seems it's not available in Maven Central yet: https://repo1.maven.org/maven2/com/manticore-projects/jsqlformatter/jsqlformatter/

Could you please push it there?

Cheers,
Fabian

[2022-09-09 06:36] manticore-projects commented on #225
Thank you for notifying me, I stand embarrassed. No idea what went wrong but I have deployed it again.
It will take a bit of time and I will check it for availability and inform your accordingly.

In the meantime, I have enabled SNAPSHOT builds: https://s01.oss.sonatype.org/content/repositories/snapshots/com/manticore-projects/jsqlformatter/jsqlformatter/1.1.0-SNAPSHOT/

[2022-09-16 09:18] manticore-projects commented on #225
Greetings.

Apologies again for the delay. The Artifact has finally arrived at the right place.

[2022-09-23 20:06] funfried commented on #225
Finally had some time to update to the latest version, sorry it took so long. PR was created as soon as everything is green I'll merge it and the latest SNAPSHOT will be build and pushed to GitHub and Maven Central. The next version will also be released soon.

Cheers,
Fabian

[2022-09-24 07:33] manticore-projects commented on #225
Thanks and cheers!

[2022-09-24 07:33] #225 closed

[2022-09-28 20:53] Chris2011 commented on #107
I wouldn't recommend to find one based in Java. Sure maybe there is one but for HTML, JS, CSS, Less, Sass, etc. there are node modules due to relies on it and it is a common web tech stack. So for formatting those files, there is a good one called prettier https://prettier.io/. If you search for prettier java you will find not that what you want, just a plugin for formatting Java code, but not wri

[2022-09-28 20:54] Chris2011 commented on #106
See my comment from here: https://github.com/funfried/externalcodeformatter_for_netbeans/issues/107#issuecomment-1261453228

If you have a look into your link, the last update was in 2020 but there are already updates in CSS so I would prefer to use one, which is more maintained.

[2022-09-30 09:09] Chris2011 commented on #107
I had a look into the repo of spotless and in the readme there is this:
```Spotless can format <antlr | c | c# | c++ | css | flow | graphql | groovy | html | java | javascript | json | jsx | kotlin | less | license headers | markdown | objective-c | protobuf | python | scala | scss | sql | typeScript | vue | yaml | anything> using <gradle | maven | anything>.```

Isn't this looks promising for wha

[2022-09-30 09:09] Chris2011 commented on #106
I had a look into the repo of spotless and in the readme there is this:
Spotless can format <antlr | c | c# | c++ | css | flow | graphql | groovy | html | java | javascript | json | jsx | kotlin | less | license headers | markdown | objective-c | protobuf | python | scala | scss | sql | typeScript | vue | yaml | anything> using <gradle | maven | anything>.

Isn't this looks promising for what you

[2022-10-01 22:34] funfried commented on #107
Hi @Chris2011 and thanks for your thoughts.
Actually I had a look in Spotless quite some time ago (already using the DBeaver SQL Formatter from there) and didn't really understand how they support neither HTML nor CSS, therefore I decided to do it like they [guys from the formatter-maven-plugin did with JSoup](https://github.com/revelc/formatter-maven-plugin/blob/main/src/main/java/net/revelc/code

[2022-10-01 22:35] funfried commented on #106
Hi @Chris2011 and thanks for your thoughts.
Actually I had a look in Spotless quite some time ago (already using the DBeaver SQL Formatter from there) and didn't really understand how they support neither HTML nor CSS, therefore I decided to do it like they [guys from the formatter-maven-plugin did with JSoup](https://github.com/revelc/formatter-maven-plugin/blob/main/src/main/java/net/revelc/code

[2022-10-02 00:03] Chris2011 commented on #107
Yes, you are right, spotless seems nice to have. Also as I said I will try prettier implementation sooner or later. It should be doable. There is also a plugin for eslint, finding bugs/stuff in js files so there is no problem to use an external CLI tool and create a wrapper with Java.

[2022-10-02 11:24] funfried commented on #107
That's true, but I prefer the plain Java way 😉
But sure, it could be an additional plugin to extend the External Formatter Plugin with npm formatters, in that case the user could decide whether he/she wants to install Node.js and use those formatters and if not, just do not install the extension plugin.
I'll have a look, if I can use the npm binary from the NetBeans HTML/JS "Node.js" preferences p

[2022-10-02 11:27] Chris2011 commented on #107
I just use ExternalExecuter and check the option from NetBeans node as far as I can remember. You can check this plugin: https://github.com/joakim-eriksson/nb-eslint or this one: https://github.com/Chris2011/NBAngularCLI/tree/develop

[2022-10-17 21:16] funfried commented on #107
@Chris2011 I just had a closer look into spotless and prettier.

Regarding spotless I wasn't able to use their external libs based on the Eclipse formatters for CSS and HTML as it seems the Eclipse stuff needs some OSGi classes which I don't have.

Regarding prettier.io: I could not find a way to call prettier with some string and get a string in return, it seems I can just call prettier with a fi

[2022-10-17 21:36] Chris2011 commented on #107
Thx for your deeper look, lemme check later how VS Code does this :).

[2022-10-17 21:49] Chris2011 commented on #107
I also had a look into the prettier CLI. There is the range property: https://prettier.io/docs/en/options.html#range So if you don't want to create an in memory file you can take the text of the JEditor from offset 0 to length of file and take this instead of a file. But adding this instead of using a file can also lead to problems. I guess. So we have 2 options:

* Create an in memory file and ta

[2022-10-17 21:50] funfried commented on #107
Yes, that's more or less what I meant with the temp file

[2022-10-17 21:52] funfried commented on #107
But the latter would only work if I could pass a String to the Prettier CLI, but as I understood, I have to pass a file path or am I wrong?

[2022-10-18 19:26] funfried opened #233 "Add support for prettier.io"
As @Chris2011 suggest: Implement a wrapper to add the formatters of https://prettier.io/

[2022-10-18 19:27] funfried commented on #107
Opened a new ticket regarding prettier.io #233

[2022-10-18 19:27] #107 closed

[2022-10-18 19:28] #106 closed

[2022-10-18 19:52] Chris2011 commented on #107
I didn't test it out yet how it directly works.

[2022-10-19 19:27] atehrani opened #234 "NPE when using code templates"
When I try to use code templates using keywords, for example `sout` which should automatically expand to `System.out.println()` it fails with a NPE.

See details: https://github.com/apache/netbeans/issues/4819

[2022-10-19 21:22] funfried commented on #234
Hi @atehrani,

which of the formatter are you using? I don't have that issue with the Eclipse formatter.

Cheers,
Fabian

[2022-10-19 22:05] atehrani commented on #234
I am using the Google formatter

[2022-10-20 07:00] funfried commented on #234
Weird, that's also working for me.
Which version of the External Code Formatter are you using?

[2022-10-20 07:13] funfried commented on #234
BTW: I think you can close the ticket at the NetBeans project as this is 100% related to my plugin.

Actually I think it might be related to #219